# General files
.git
.github
config
docs

# Development
.devcontainer
.vscode
.tool-versions

# Test related files
tests

# Other virtualization methods
venv
.vagrant

# Temporary files
**/__pycache__