# General files
.git
.github
config
docs

# asdf
.tool-versions

# Development
.devcontainer
.vscode

# Test related files
tests

# Other virtualization methods
venv
.vagrant

# Temporary files
**/__pycache__