# Ensure Docker script files uses LF to support Docker for Windows.
# Ensure "git config --global core.autocrlf input" before you clone
*     text eol=lf
*.py  whitespace=error

*.ico binary
*.jpg binary
*.png binary
*.zip binary
*.mp3 binary
*.pcm binary

Dockerfile.dev linguist-language=Dockerfile
