[submodule "homeassistant/external/noop"]
	path = homeassistant/external/noop
	url = https://github.com/balloob/noop.git
[submodule "homeassistant/external/vera"]
	path = homeassistant/external/vera
	url = https://github.com/jamespcole/home-assistant-vera-api.git
[submodule "homeassistant/external/nzbclients"]
        path = homeassistant/external/nzbclients
        url = https://github.com/jamespcole/home-assistant-nzb-clients.git
[submodule "homeassistant/components/frontend/www_static/home-assistant-polymer"]
	path = homeassistant/components/frontend/www_static/home-assistant-polymer
	url = https://github.com/balloob/home-assistant-polymer.git
