ignore: |
  tests/fixtures/core/config/yaml_errors/
rules:
  braces:
    level: error
    min-spaces-inside: 0
    max-spaces-inside: 1
    min-spaces-inside-empty: -1
    max-spaces-inside-empty: -1
  brackets:
    level: error
    min-spaces-inside: 0
    max-spaces-inside: 0
    min-spaces-inside-empty: -1
    max-spaces-inside-empty: -1
  colons:
    level: error
    max-spaces-before: 0
    max-spaces-after: 1
  commas:
    level: error
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1
  comments:
    level: error
    require-starting-space: true
    min-spaces-from-content: 1
  comments-indentation:
    level: error
  document-end:
    level: error
    present: false
  document-start:
    level: error
    present: false
  empty-lines:
    level: error
    max: 1
    max-start: 0
    max-end: 1
  hyphens:
    level: error
    max-spaces-after: 1
  indentation:
    level: error
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  key-duplicates:
    level: error
  line-length: disable
  new-line-at-end-of-file:
    level: error
  new-lines:
    level: error
    type: unix
  trailing-spaces:
    level: error
  truthy:
    level: error
