# People marked here will be automatically requested for a review
# when the code that they own is touched.
# https://github.com/blog/2392-introducing-code-owners

# Home Assistant Core
setup.py @home-assistant/core
homeassistant/*.py @home-assistant/core
homeassistant/helpers/* @home-assistant/core
homeassistant/util/* @home-assistant/core
homeassistant/components/api/* @home-assistant/core
homeassistant/components/auth/* @home-assistant/core
homeassistant/components/automation/* @home-assistant/core
homeassistant/components/cloud/* @home-assistant/core
homeassistant/components/config/* @home-assistant/core
homeassistant/components/configurator/* @home-assistant/core
homeassistant/components/conversation/* @home-assistant/core
homeassistant/components/frontend/* @home-assistant/core
homeassistant/components/group/* @home-assistant/core
homeassistant/components/history/* @home-assistant/core
homeassistant/components/http/* @home-assistant/core
homeassistant/components/input_*.py @home-assistant/core
homeassistant/components/introduction/* @home-assistant/core
homeassistant/components/logger/* @home-assistant/core
homeassistant/components/lovelace/* @home-assistant/core
homeassistant/components/mqtt/* @home-assistant/core
homeassistant/components/panel_custom/* @home-assistant/core
homeassistant/components/panel_iframe/* @home-assistant/core
homeassistant/components/onboarding/* @home-assistant/core
homeassistant/components/persistent_notification/* @home-assistant/core
homeassistant/components/scene/__init__.py @home-assistant/core
homeassistant/components/scene/homeassistant.py @home-assistant/core
homeassistant/components/script/* @home-assistant/core
homeassistant/components/shell_command/* @home-assistant/core
homeassistant/components/sun/* @home-assistant/core
homeassistant/components/updater/* @home-assistant/core
homeassistant/components/weblink/* @home-assistant/core
homeassistant/components/websocket_api/* @home-assistant/core
homeassistant/components/zone/* @home-assistant/core

# Home Assistant Developer Teams
Dockerfile @home-assistant/docker
virtualization/Docker/* @home-assistant/docker

homeassistant/components/zwave/* @home-assistant/z-wave
homeassistant/components/*/zwave.py @home-assistant/z-wave

homeassistant/components/hassio/* @home-assistant/hassio

# Individual platforms
homeassistant/components/alarm_control_panel/manual_mqtt.py @colinodell
homeassistant/components/hikvision/binary_sensor.py @mezz64
homeassistant/components/binary_sensor/threshold.py @fabaff
homeassistant/components/uptimerobot/binary_sensor.py @ludeeus
homeassistant/components/camera/push.py @dgomes
homeassistant/components/yi/camera.py @bachya
homeassistant/components/coolmaster/climate.py @OnFreund
homeassistant/components/ephember/climate.py @ttroy50
homeassistant/components/eq3btsmart/climate.py @rytilahti
homeassistant/components/mill/climate.py @danielhiversen
homeassistant/components/sensibo/climate.py @andrey-git
homeassistant/components/brunt/cover.py @eavanvalkenburg
homeassistant/components/cover/group.py @cdce8p
homeassistant/components/cover/template.py @PhracturedBlue
homeassistant/components/device_tracker/asuswrt.py @kennedyshead
homeassistant/components/device_tracker/automatic.py @armills
homeassistant/components/bt_smarthub/device_tracker.py @jxwolstenholme
homeassistant/components/huawei_router/device_tracker.py @abmantis
homeassistant/components/quantum_gateway/device_tracker.py @cisasteelersfan
homeassistant/components/synology_srm/device_tracker.py @aerialls
homeassistant/components/tile/device_tracker.py @bachya
homeassistant/components/traccar/device_tracker.py @ludeeus
homeassistant/components/xfinity/device_tracker.py @cisasteelersfan
homeassistant/components/lametric/notify.py @robbiet480
homeassistant/components/lifx_legacy/light.py @amelchio
homeassistant/components/yeelight/light.py @rytilahti
homeassistant/components/yeelightsunflower/light.py @lindsaymarkward
homeassistant/components/nello/lock.py @pschmitt
homeassistant/components/nuki/lock.py @pschmitt
homeassistant/components/braviatv/media_player.py @robbiet480
homeassistant/components/emby/media_player.py @mezz64
homeassistant/components/kodi/media_player.py @armills
homeassistant/components/liveboxplaytv/media_player.py @pschmitt
homeassistant/components/mediaroom/media_player.py @dgomes
homeassistant/components/media_player/monoprice.py @etsinko
homeassistant/components/mpd/media_player.py @fabaff
homeassistant/components/xiaomi_tv/media_player.py @fattdev
homeassistant/components/yamaha_musiccast/media_player.py @jalmeroth
homeassistant/components/notify/aws_lambda.py @robbiet480
homeassistant/components/notify/aws_sns.py @robbiet480
homeassistant/components/notify/aws_sqs.py @robbiet480
homeassistant/components/notify/file.py @fabaff
homeassistant/components/notify/flock.py @fabaff
homeassistant/components/notify/gntp.py @robbiet480
homeassistant/components/notify/html5.py @robbiet480
homeassistant/components/notify/mastodon.py @fabaff
homeassistant/components/notify/smtp.py @fabaff
homeassistant/components/notify/syslog.py @fabaff
homeassistant/components/notify/twilio_call.py @robbiet480
homeassistant/components/notify/twilio_sms.py @robbiet480
homeassistant/components/notify/xmpp.py @fabaff
homeassistant/components/notify/yessssms.py @flowolf
homeassistant/components/lifx_cloud/scene.py @amelchio
homeassistant/components/airvisual/sensor.py @bachya
homeassistant/components/alpha_vantage/sensor.py @fabaff
homeassistant/components/bitcoin/sensor.py @fabaff
homeassistant/components/cpuspeed/sensor.py @fabaff
homeassistant/components/cups/sensor.py @fabaff
homeassistant/components/sensor/darksky.py @fabaff
homeassistant/components/discogs/sensor.py @thibmaek
homeassistant/components/sensor/file.py @fabaff
homeassistant/components/sensor/filter.py @dgomes
homeassistant/components/fitbit/sensor.py @robbiet480
homeassistant/components/fixer/sensor.py @fabaff
homeassistant/components/flunearyou/sensor.py @bachya
homeassistant/components/gearbest/sensor.py @HerrHofrat
homeassistant/components/gitter/sensor.py @fabaff
homeassistant/components/glances/sensor.py @fabaff
homeassistant/components/google_travel_time/sensor.py @robbiet480
homeassistant/components/gpsd/sensor.py @fabaff
homeassistant/components/gtfs/sensor.py @robbiet480
homeassistant/components/sensor/integration.py @dgomes
homeassistant/components/irish_rail_transport/sensor.py @ttroy50
homeassistant/components/sensor/jewish_calendar.py @tsvi
homeassistant/components/launch_library/sensor.py @ludeeus
homeassistant/components/linux_battery/sensor.py @fabaff
homeassistant/components/miflora/sensor.py @danielhiversen @ChristianKuehnel
homeassistant/components/sensor/min_max.py @fabaff
homeassistant/components/sensor/moon.py @fabaff
homeassistant/components/netdata/sensor.py @fabaff
homeassistant/components/nmbs/sensor.py @thibmaek
homeassistant/components/sensor/nsw_fuel_station.py @nickw444
homeassistant/components/ohmconnect/sensor.py @robbiet480
homeassistant/components/pi_hole/sensor.py @fabaff
homeassistant/components/pollen/sensor.py @bachya
homeassistant/components/pvoutput/sensor.py @fabaff
homeassistant/components/qnap/sensor.py @colinodell
homeassistant/components/ruter/sensor.py @ludeeus
homeassistant/components/scrape/sensor.py @fabaff
homeassistant/components/serial/sensor.py @fabaff
homeassistant/components/seventeentrack/sensor.py @bachya
homeassistant/components/shodan/sensor.py @fabaff
homeassistant/components/sma/sensor.py @kellerza
homeassistant/components/sensor/sql.py @dgomes
homeassistant/components/sensor/statistics.py @fabaff
homeassistant/components/sensor/swiss*.py @fabaff
homeassistant/components/sytadin/sensor.py @gautric
homeassistant/components/tautulli/sensor.py @ludeeus
homeassistant/components/sensor/time_date.py @fabaff
homeassistant/components/uber/sensor.py @robbiet480
homeassistant/components/sensor/version.py @fabaff
homeassistant/components/waqi/sensor.py @andrey-git
homeassistant/components/sensor/worldclock.py @fabaff
homeassistant/components/switchbot/switch.py @danielhiversen
homeassistant/components/switchmate/switch.py @danielhiversen
homeassistant/components/tts/amazon_polly.py @robbiet480
homeassistant/components/roomba/vacuum.py @pschmitt
homeassistant/components/weather/__init__.py @fabaff
homeassistant/components/weather/darksky.py @fabaff
homeassistant/components/demo/weather.py @fabaff
homeassistant/components/met/weather.py @danielhiversen
homeassistant/components/openweathermap/weather.py @fabaff

# A
homeassistant/components/ambient_station/* @bachya
homeassistant/components/arduino/* @fabaff
homeassistant/components/axis/* @kane610
homeassistant/components/*/arest.py @fabaff

# B
homeassistant/components/blink/* @fronzbot
homeassistant/components/bmw_connected_drive/* @ChristianKuehnel
homeassistant/components/*/broadlink.py @danielhiversen

# C
homeassistant/components/cloudflare/* @ludeeus
homeassistant/components/counter/* @fabaff

# D
homeassistant/components/daikin/* @fredrike @rofrantz
homeassistant/components/deconz/* @kane610
homeassistant/components/digital_ocean/* @fabaff
homeassistant/components/dweet/* @fabaff

# E
homeassistant/components/ecovacs/* @OverloadUT
homeassistant/components/edp_redy/* @abmantis
homeassistant/components/eight_sleep/* @mezz64
homeassistant/components/egardia/* @jeroenterheerdt
homeassistant/components/esphome/*.py @OttoWinter

# F
homeassistant/components/freebox/*.py @snoof85
homeassistant/components/foursquare/* @robbiet480

# G
homeassistant/components/googlehome/* @ludeeus

# H
homeassistant/components/harmony/* @ehendrix23
homeassistant/components/history_graph/* @andrey-git
homeassistant/components/hive/* @Rendili @KJonline
homeassistant/components/homekit/* @cdce8p
homeassistant/components/huawei_lte/* @scop

# I
homeassistant/components/influx/* @fabaff
homeassistant/components/ios/* @robbiet480
homeassistant/components/ipma/* @dgomes

# K
homeassistant/components/knx/* @Julius2342
homeassistant/components/konnected/* @heythisisnate

# L
homeassistant/components/lifx/* @amelchio
homeassistant/components/luftdaten/* @fabaff

# M
homeassistant/components/matrix/* @tinloaf
homeassistant/components/melissa/* @kennedyshead
homeassistant/components/mobile_app/* @robbiet480
homeassistant/components/*/melissa.py @kennedyshead
homeassistant/components/*/mystrom.py @fabaff

# N
homeassistant/components/ness_alarm/* @nickw444
homeassistant/components/*/ness_alarm.py @nickw444
homeassistant/components/nissan_leaf/* @filcole
homeassistant/components/no_ip/* @fabaff

# O
homeassistant/components/openuv/* @bachya

# P
homeassistant/components/plant/* @ChristianKuehnel
homeassistant/components/point/* @fredrike

# Q
homeassistant/components/qwikswitch/* @kellerza

# R
homeassistant/components/rainmachine/* @bachya
homeassistant/components/rfxtrx/* @danielhiversen
homeassistant/components/*/random.py @fabaff

# S
homeassistant/components/shiftr/* @fabaff
homeassistant/components/simplisafe/* @bachya
homeassistant/components/smartthings/* @andrewsayre
homeassistant/components/sonos/* @amelchio
homeassistant/components/spaceapi/* @fabaff
homeassistant/components/spider/* @peternijssen

# T
homeassistant/components/tahoma/* @philklei
homeassistant/components/tellduslive/*.py @fredrike
homeassistant/components/tesla/* @zabuldon
homeassistant/components/thethingsnetwork/* @fabaff
homeassistant/components/tibber/* @danielhiversen
homeassistant/components/tplink/* @rytilahti
homeassistant/components/tradfri/* @ggravlingen
homeassistant/components/toon/* @frenck

# U
homeassistant/components/unifi/* @kane610
homeassistant/components/upcloud/* @scop
homeassistant/components/upnp/* @robbiet480
homeassistant/components/utility_meter/* @dgomes

# V
homeassistant/components/velux/* @Julius2342

# W
homeassistant/components/wemo/* @sqldiablo

# X
homeassistant/components/xiaomi_aqara/* @danielhiversen @syssi
homeassistant/components/xiaomi_miio/* @rytilahti @syssi

# Z
homeassistant/components/zeroconf/* @robbiet480
homeassistant/components/zoneminder/* @rohankapoorcom

# Other code
homeassistant/scripts/check_config.py @kellerza
