# 
# Please do not manually update this file since the requirements are managed
# by pipenv through Pipfile and Pipfile.lock . 
#
# This file is created and managed automatically by the template and it is left
# here only for backwards compatibility reasons with python's ecosystem.
#
# Please use Pipfile to update the requirements.
#
nose-htmloutput==0.6.0
logilab-common==1.4.1
tox==2.9.1
hypothesis==3.53.0
coverage==4.5.1
prospector==0.12.7
betamax==0.8.1
sphinx==1.7.2
pipenv==11.9.0
nose==1.3.7