# linters such as flake8 and pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version

-c homeassistant/package_constraints.txt
-r requirements_test_pre_commit.txt
codecov==2.1.10
coverage==5.5
jsonpickle==1.4.1
mock-open==1.4.0
mypy==0.812
pre-commit==2.12.1
pylint==2.8.0
astroid==2.5.5
mccabe==0.6.1
pipdeptree==1.0.0
pylint-strict-informational==0.1
pytest-aiohttp==0.3.0
pytest-cov==2.10.1
pytest-test-groups==1.0.3
pytest-sugar==0.9.4
pytest-timeout==1.4.2
pytest-xdist==2.1.0
pytest==6.2.3
requests_mock==1.8.0
responses==0.12.0
respx==0.16.2
stdlib-list==0.7.0
tqdm==4.49.0
