# linters such as pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version

# types-* that have versions roughly corresponding to the packages they
# contain hints for available should be kept in sync with them

-c homeassistant/package_constraints.txt
-r requirements_test_pre_commit.txt
astroid==3.1.0
coverage==7.5.0
freezegun==1.5.0
mock-open==1.4.0
mypy==1.10.0
pre-commit==3.7.0
pydantic==1.10.15
pylint==3.1.0
pylint-per-file-ignores==1.3.2
pipdeptree==2.19.0
pytest-asyncio==0.23.6
pytest-aiohttp==1.0.5
pytest-cov==5.0.0
pytest-freezer==0.4.8
pytest-github-actions-annotate-failures==0.2.0
pytest-socket==0.7.0
pytest-sugar==1.0.0
pytest-timeout==2.3.1
pytest-unordered==0.6.0
pytest-picked==0.5.0
pytest-xdist==3.6.1
pytest==8.2.0
requests-mock==1.12.1
respx==0.21.1
syrupy==4.6.1
tqdm==4.66.2
types-aiofiles==23.2.0.20240403
types-atomicwrites==1.4.5.1
types-croniter==2.0.0.20240423
types-beautifulsoup4==4.12.0.20240229
types-caldav==1.3.0.20240331
types-chardet==0.1.5
types-decorator==5.1.8.20240310
types-paho-mqtt==1.6.0.20240321
types-pillow==10.2.0.20240423
types-protobuf==4.24.0.20240106
types-psutil==5.9.5.20240423
types-python-dateutil==2.9.0.20240316
types-python-slugify==8.0.2.20240310
types-pytz==2024.1.0.20240417
types-PyYAML==6.0.12.20240311
types-requests==2.31.0.3
types-xmltodict==0.13.0.3
uv==0.1.39
