# Home Assistant test
# linters such as flake8 and pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version
asynctest==0.12.2
coveralls==1.2.0
flake8-docstrings==1.3.0
flake8==3.7.7
mock-open==1.3.1
mypy==0.670
pydocstyle==3.0.0
pylint==2.3.1
pytest-aiohttp==0.3.0
pytest-cov==2.6.1
pytest-sugar==0.9.2
pytest-timeout==1.3.3
pytest==4.3.1
requests_mock==1.5.2


# homeassistant.components.homekit
HAP-python==2.4.2

# homeassistant.components.mobile_app
# homeassistant.components.owntracks
PyNaCl==1.3.0

# homeassistant.components.rmvtransport.sensor
PyRMVtransport==0.1.3

# homeassistant.components.transport_nsw.sensor
PyTransportNSW==0.1.1

# homeassistant.components.notify.yessssms
YesssSMS==0.2.3

# homeassistant.components.ambient_station
aioambient==0.1.3

# homeassistant.components.automatic.device_tracker
aioautomatic==0.6.5

# homeassistant.components.aws
aiobotocore==0.10.2

# homeassistant.components.emulated_hue
# homeassistant.components.http
aiohttp_cors==0.7.0

# homeassistant.components.hue
aiohue==1.9.1

# homeassistant.components.unifi
aiounifi==4

# homeassistant.components.notify.apns
apns2==0.3.0

# homeassistant.components.stream
av==6.1.2

# homeassistant.components.axis
axis==17

# homeassistant.components.zha
bellows-homeassistant==0.7.1

# homeassistant.components.caldav.calendar
caldav==0.5.0

# homeassistant.components.coinmarketcap.sensor
coinmarketcap==5.0.3

# homeassistant.components.ihc
# homeassistant.components.namecheapdns
# homeassistant.components.ohmconnect.sensor
# homeassistant.components.upc_connect.device_tracker
defusedxml==0.5.0

# homeassistant.components.dsmr.sensor
dsmr_parser==0.12

# homeassistant.components.ee_brightbox.device_tracker
eebrightbox==0.0.4

# homeassistant.components.emulated_roku
emulated_roku==0.1.8

# homeassistant.components.entur_public_transport.sensor
enturclient==0.1.3

# homeassistant.components.season.sensor
ephem==3.7.6.0

# homeassistant.components.evohome
# homeassistant.components.honeywell.climate
evohomeclient==0.2.8

# homeassistant.components.feedreader
feedparser-homeassistant==5.2.2.dev1

# homeassistant.components.foobot.sensor
foobot_async==0.3.1

# homeassistant.components.google.tts
gTTS-token==1.1.3

# homeassistant.components.geo_json_events.geo_location
# homeassistant.components.nsw_rural_fire_service_feed.geo_location
# homeassistant.components.usgs_earthquakes_feed.geo_location
geojson_client==0.3

# homeassistant.components.geo_rss_events.sensor
georss_client==0.5

# homeassistant.components.ffmpeg
ha-ffmpeg==2.0

# homeassistant.components.hangouts
hangups==0.4.6

# homeassistant.components.cloud
hass-nabucasa==0.11

# homeassistant.components.mqtt.server
hbmqtt==0.9.4

# homeassistant.components.jewish_calendar.sensor
hdate==0.8.7

# homeassistant.components.workday.binary_sensor
holidays==0.9.10

# homeassistant.components.frontend
home-assistant-frontend==20190321.0

# homeassistant.components.homekit_controller
homekit[IP]==0.13.0

# homeassistant.components.homematicip_cloud
homematicip==0.10.6

# homeassistant.components.influxdb
# homeassistant.components.influxdb.sensor
influxdb==5.2.0

# homeassistant.components.verisure
jsonpath==0.75

# homeassistant.components.dyson
libpurecoollink==0.4.2

# homeassistant.components.soundtouch.media_player
libsoundtouch==0.7.2

# homeassistant.components.luftdaten
luftdaten==0.3.4

# homeassistant.components.mythicbeastsdns
mbddns==0.1.2

# homeassistant.components.mfi.sensor
# homeassistant.components.mfi.switch
mficlient==0.3.0

# homeassistant.components.opencv.image_processing
# homeassistant.components.pollen.sensor
# homeassistant.components.tensorflow.image_processing
# homeassistant.components.trend.binary_sensor
numpy==1.16.2

# homeassistant.components.mqtt
# homeassistant.components.shiftr
paho-mqtt==1.4.0

# homeassistant.components.aruba.device_tracker
# homeassistant.components.cisco_ios.device_tracker
# homeassistant.components.pandora.media_player
# homeassistant.components.unifi_direct.device_tracker
pexpect==4.6.0

# homeassistant.components.pilight
pilight==0.1.1

# homeassistant.components.mhz19.sensor
# homeassistant.components.serial_pm.sensor
pmsensor==0.4

# homeassistant.components.prometheus
prometheus_client==0.2.0

# homeassistant.components.notify.pushbullet
# homeassistant.components.pushbullet.sensor
pushbullet.py==0.11.0

# homeassistant.components.canary
py-canary==0.5.0

# homeassistant.components.tplink
pyHS100==0.3.4

# homeassistant.components.blackbird.media_player
pyblackbird==0.5

# homeassistant.components.deconz
pydeconz==54

# homeassistant.components.zwave
pydispatcher==2.0.5

# homeassistant.components.homematic
pyhomematic==0.1.58

# homeassistant.components.litejet
pylitejet==0.1

# homeassistant.components.monoprice.media_player
pymonoprice==0.3

# homeassistant.components.nx584.alarm_control_panel
# homeassistant.components.nx584.binary_sensor
pynx584==0.4

# homeassistant.components.openuv
pyopenuv==1.0.9

# homeassistant.auth.mfa_modules.notify
# homeassistant.auth.mfa_modules.totp
# homeassistant.components.otp.sensor
pyotp==2.2.6

# homeassistant.components.ps4
pyps4-homeassistant==0.5.0

# homeassistant.components.qwikswitch
pyqwikswitch==0.8

# homeassistant.components.smartthings
pysmartapp==0.3.2

# homeassistant.components.smartthings
pysmartthings==0.6.7

# homeassistant.components.sonos
pysonos==0.0.8

# homeassistant.components.spc
pyspcwebgw==0.4.0

# homeassistant.components.darksky.sensor
# homeassistant.components.darksky.weather
python-forecastio==1.4.0

# homeassistant.components.nest
python-nest==4.1.0

# homeassistant.components.awair.sensor
python_awair==0.0.3

# homeassistant.components.tradfri
pytradfri[async]==6.0.1

# homeassistant.components.unifi.device_tracker
pyunifi==2.16

# homeassistant.components.notify.html5
pywebpush==1.6.0

# homeassistant.components.rainmachine
regenmaschine==1.4.0

# homeassistant.components.python_script
restrictedpython==4.0b8

# homeassistant.components.rflink
rflink==0.0.37

# homeassistant.components.ring
ring_doorbell==0.2.3

# homeassistant.components.yamaha.media_player
rxv==0.6.0

# homeassistant.components.simplisafe
simplisafe-python==3.4.1

# homeassistant.components.sleepiq
sleepyq==0.6

# homeassistant.components.smhi
smhi-pkg==1.0.10

# homeassistant.components.honeywell.climate
somecomfort==0.5.2

# homeassistant.components.recorder
# homeassistant.components.sql.sensor
sqlalchemy==1.3.0

# homeassistant.components.srp_energy.sensor
srpenergy==1.0.6

# homeassistant.components.statsd
statsd==3.2.1

# homeassistant.components.toon
toonapilib==3.2.2

# homeassistant.components.uvc.camera
uvcclient==0.11.0

# homeassistant.components.verisure
vsure==1.5.2

# homeassistant.components.vultr
vultr==0.1.2

# homeassistant.components.wake_on_lan
# homeassistant.components.panasonic_viera.media_player
# homeassistant.components.samsungtv.media_player
# homeassistant.components.wake_on_lan.switch
wakeonlan==1.1.6

# homeassistant.components.zha
zigpy-homeassistant==0.3.0
