-c homeassistant/package_constraints.txt

# Home Assistant Core
aiohttp==3.8.1
astral==2.2
async_timeout==4.0.2
attrs==22.2.0
atomicwrites-homeassistant==1.4.1
awesomeversion==22.9.0
bcrypt==4.0.1
certifi>=2021.5.30
ciso8601==2.3.0
httpx==0.23.3
home-assistant-bluetooth==1.9.2
ifaddr==0.1.7
jinja2==3.1.2
lru-dict==1.1.8
PyJWT==2.5.0
cryptography==39.0.0
pyOpenSSL==23.0.0
orjson==3.8.5
pip>=21.0,<22.4
python-slugify==4.0.1
pyyaml==6.0
requests==2.28.1
typing-extensions>=4.4.0,<5.0
voluptuous==0.13.1
voluptuous-serialize==2.5.0
yarl==1.8.1
