-c homeassistant/package_constraints.txt

# Home Assistant Core
aiohttp==3.8.0
astral==2.2
async_timeout==4.0.0
attrs==21.2.0
atomicwrites==1.4.0
awesomeversion==21.10.1
backports.zoneinfo;python_version<"3.9"
bcrypt==3.1.7
certifi>=2021.5.30
ciso8601==2.2.0
httpx==0.21.0
ifaddr==0.1.7
jinja2==3.0.3
PyJWT==2.1.0
cryptography==35.0.0
pip>=8.0.3,<20.3
python-slugify==4.0.1
pyyaml==6.0
requests==2.26.0
voluptuous==0.12.2
voluptuous-serialize==2.4.0
yarl==1.6.3
