# Home Assistant core
requests>=2,<3
pyyaml>=3.11,<4
pytz>=2016.6.1
pip>=7.0.0
jinja2>=2.8
voluptuous==0.9.2
typing>=3,<4

# homeassistant.components.nuimo_controller
--only-binary=all git+https://github.com/getSenic/nuimo-linux-python#nuimo==1.0.0

# homeassistant.components.isy994
PyISY==1.0.7

# homeassistant.components.notify.html5
PyJWT==1.4.2

# homeassistant.components.arduino
PyMata==2.13

# homeassistant.components.rpi_gpio
# RPi.GPIO==0.6.1

# homeassistant.components.media_player.sonos
SoCo==0.11.1

# homeassistant.components.notify.twitter
TwitterAPI==2.4.2

# homeassistant.components.http
Werkzeug==0.11.11

# homeassistant.components.apcupsd
apcaccess==0.0.4

# homeassistant.components.sun
astral==1.2

# homeassistant.components.sensor.linux_battery
batinfo==0.3

# homeassistant.components.light.blinksticklight
blinkstick==1.1.8

# homeassistant.components.sensor.bitcoin
blockchain==1.3.3

# homeassistant.components.climate.eq3btsmart
# homeassistant.components.thermostat.eq3btsmart
# bluepy_devices==0.2.0

# homeassistant.components.notify.aws_lambda
# homeassistant.components.notify.aws_sns
# homeassistant.components.notify.aws_sqs
boto3==1.3.1

# homeassistant.components.http
cherrypy==8.1.0

# homeassistant.components.sensor.coinmarketcap
coinmarketcap==2.0.1

# homeassistant.scripts.check_config
colorlog>2.1,<3

# homeassistant.components.media_player.directv
directpy==0.1

# homeassistant.components.notify.xmpp
dnspython3==1.12.0

# homeassistant.components.dweet
# homeassistant.components.sensor.dweet
dweepy==0.2.0

# homeassistant.components.sensor.eliqonline
eliqonline==1.0.12

# homeassistant.components.enocean
enocean==0.31

# homeassistant.components.keyboard_remote
evdev==0.6.1

# homeassistant.components.climate.honeywell
# homeassistant.components.thermostat.honeywell
evohomeclient==0.2.5

# homeassistant.components.sensor.fastdotcom
fastdotcom==0.0.1

# homeassistant.components.feedreader
feedparser==5.2.1

# homeassistant.components.sensor.fitbit
fitbit==0.2.3

# homeassistant.components.sensor.fixer
fixerio==0.1.1

# homeassistant.components.notify.free_mobile
freesms==0.1.0

# homeassistant.components.conversation
fuzzywuzzy==0.11.1

# homeassistant.components.device_tracker.bluetooth_le_tracker
# gattlib==0.20150805

# homeassistant.components.notify.gntp
gntp==1.0.3

# homeassistant.components.sensor.google_travel_time
googlemaps==2.4.4

# homeassistant.components.sensor.gpsd
gps3==0.33.3

# homeassistant.components.ffmpeg
ha-ffmpeg==0.13

# homeassistant.components.mqtt.server
hbmqtt==0.7.1

# homeassistant.components.climate.heatmiser
# homeassistant.components.thermostat.heatmiser
heatmiserV3==0.9.1

# homeassistant.components.switch.hikvisioncam
hikvision==0.4

# homeassistant.components.sensor.dht
# http://github.com/adafruit/Adafruit_Python_DHT/archive/310c59b0293354d07d94375f1365f7b9b9110c7d.zip#Adafruit_DHT==1.3.0

# homeassistant.components.light.flux_led
https://github.com/Danielhiversen/flux_led/archive/0.6.zip#flux_led==0.6

# homeassistant.components.switch.dlink
https://github.com/LinuxChristian/pyW215/archive/v0.3.5.zip#pyW215==0.3.5

# homeassistant.components.media_player.webostv
# homeassistant.components.notify.webostv
https://github.com/TheRealLink/pylgtv/archive/v0.1.2.zip#pylgtv==0.1.2

# homeassistant.components.sensor.thinkingcleaner
# homeassistant.components.switch.thinkingcleaner
https://github.com/TheRealLink/pythinkingcleaner/archive/v0.0.2.zip#pythinkingcleaner==0.0.2

# homeassistant.components.alarm_control_panel.alarmdotcom
https://github.com/Xorso/pyalarmdotcom/archive/0.1.1.zip#pyalarmdotcom==0.1.1

# homeassistant.components.media_player.braviatv
https://github.com/aparraga/braviarc/archive/0.3.5.zip#braviarc==0.3.5

# homeassistant.components.media_player.roku
https://github.com/bah2830/python-roku/archive/3.1.2.zip#roku==3.1.2

# homeassistant.components.modbus
https://github.com/bashwork/pymodbus/archive/d7fc4f1cc975631e0a9011390e8017f64b612661.zip#pymodbus==1.2.0

# homeassistant.components.media_player.onkyo
https://github.com/danieljkemp/onkyo-eiscp/archive/python3.zip#onkyo-eiscp==0.9.2

# homeassistant.components.device_tracker.fritz
# https://github.com/deisi/fritzconnection/archive/b5c14515e1c8e2652b06b6316a7f3913df942841.zip#fritzconnection==0.4.6

# homeassistant.components.switch.tplink
https://github.com/gadgetreactor/pyHS100/archive/master.zip#pyHS100==0.1.2

# homeassistant.components.netatmo
https://github.com/jabesq/netatmo-api-python/archive/v0.5.0.zip#lnetatmo==0.5.0

# homeassistant.components.sensor.sabnzbd
https://github.com/jamespcole/home-assistant-nzb-clients/archive/616cad59154092599278661af17e2a9f2cf5e2a9.zip#python-sabnzbd==0.1

# homeassistant.components.qwikswitch
https://github.com/kellerza/pyqwikswitch/archive/v0.4.zip#pyqwikswitch==0.4

# homeassistant.components.media_player.russound_rnet
https://github.com/laf/russound/archive/0.1.6.zip#russound==0.1.6

# homeassistant.components.ecobee
https://github.com/nkgilley/python-ecobee-api/archive/4856a704670c53afe1882178a89c209b5f98533d.zip#python-ecobee==0.0.6

# homeassistant.components.joaoapps_join
# homeassistant.components.notify.joaoapps_join
https://github.com/nkgilley/python-join-api/archive/3e1e849f1af0b4080f551b62270c6d244d5fbcbd.zip#python-join-api==0.0.1

# homeassistant.components.switch.edimax
https://github.com/rkabadi/pyedimax/archive/365301ce3ff26129a7910c501ead09ea625f3700.zip#pyedimax==0.1

# homeassistant.components.sensor.gtfs
https://github.com/robbiet480/pygtfs/archive/00546724e4bbcb3053110d844ca44e2246267dd8.zip#pygtfs==0.1.3

# homeassistant.components.scene.hunterdouglas_powerview
https://github.com/sander76/powerviewApi/archive/master.zip#powerviewApi==0.2

# homeassistant.components.mysensors
https://github.com/theolind/pymysensors/archive/8ce98b7fb56f7921a808eb66845ce8b2c455c81e.zip#pymysensors==0.7.1

# homeassistant.components.alarm_control_panel.simplisafe
https://github.com/w1ll1am23/simplisafe-python/archive/586fede0e85fd69e56e516aaa8e97eb644ca8866.zip#simplisafe-python==0.0.1

# homeassistant.components.notify.html5
https://github.com/web-push-libs/pywebpush/archive/e743dc92558fc62178d255c0018920d74fa778ed.zip#pywebpush==0.5.0

# homeassistant.components.media_player.lg_netcast
https://github.com/wokar/pylgnetcast/archive/v0.2.0.zip#pylgnetcast==0.2.0

# homeassistant.components.influxdb
influxdb==3.0.0

# homeassistant.components.insteon_hub
insteon_hub==0.4.5

# homeassistant.components.media_player.kodi
# homeassistant.components.notify.kodi
jsonrpc-requests==0.3

# homeassistant.scripts.keyring
keyring>=9.3,<10.0

# homeassistant.components.knx
knxip==0.3.3

# homeassistant.components.light.lifx
liffylights==0.9.4

# homeassistant.components.light.osramlightify
lightify==1.0.3

# homeassistant.components.light.limitlessled
limitlessled==1.0.0

# homeassistant.components.notify.message_bird
messagebird==1.2.0

# homeassistant.components.sensor.mfi
# homeassistant.components.switch.mfi
mficlient==0.3.0

# homeassistant.components.sensor.miflora
miflora==0.1.6

# homeassistant.components.discovery
netdisco==0.7.1

# homeassistant.components.sensor.neurio_energy
neurio==0.2.10

# homeassistant.components.switch.orvibo
orvibo==1.1.1

# homeassistant.components.mqtt
paho-mqtt==1.2

# homeassistant.components.media_player.panasonic_viera
panasonic_viera==0.2

# homeassistant.components.device_tracker.aruba
# homeassistant.components.device_tracker.asuswrt
# homeassistant.components.media_player.pandora
pexpect==4.0.1

# homeassistant.components.light.hue
phue==0.8

# homeassistant.components.pilight
pilight==0.0.2

# homeassistant.components.media_player.plex
# homeassistant.components.sensor.plex
plexapi==2.0.2

# homeassistant.components.sensor.mhz19
# homeassistant.components.sensor.serial_pm
pmsensor==0.3

# homeassistant.components.climate.proliphix
# homeassistant.components.thermostat.proliphix
proliphix==0.3.1

# homeassistant.components.sensor.systemmonitor
psutil==4.3.1

# homeassistant.components.wink
pubnub==3.8.2

# homeassistant.components.notify.pushbullet
pushbullet.py==0.10.0

# homeassistant.components.notify.pushetta
pushetta==1.0.15

# homeassistant.components.sensor.cpuspeed
py-cpuinfo==0.2.3

# homeassistant.components.rfxtrx
pyRFXtrx==0.11.0

# homeassistant.components.notify.xmpp
pyasn1-modules==0.0.8

# homeassistant.components.notify.xmpp
pyasn1==0.1.9

# homeassistant.components.device_tracker.bluetooth_tracker
# pybluez==0.22

# homeassistant.components.media_player.cast
pychromecast==0.7.4

# homeassistant.components.media_player.cmus
pycmus==0.1.0

# homeassistant.components.envisalink
# homeassistant.components.zwave
pydispatcher==2.0.5

# homeassistant.components.envisalink
pyenvisalink==1.7

# homeassistant.components.ifttt
pyfttt==0.3

# homeassistant.components.homematic
pyhomematic==0.1.14

# homeassistant.components.device_tracker.icloud
pyicloud==0.9.1

# homeassistant.components.sensor.lastfm
pylast==1.6.0

# homeassistant.components.sensor.loopenergy
pyloopenergy==0.0.14

# homeassistant.components.device_tracker.netgear
pynetgear==0.3.3

# homeassistant.components.switch.netio
pynetio==0.1.6

# homeassistant.components.alarm_control_panel.nx584
# homeassistant.components.binary_sensor.nx584
pynx584==0.2

# homeassistant.components.sensor.openweathermap
pyowm==2.4.0

# homeassistant.components.switch.acer_projector
pyserial==3.1.1

# homeassistant.components.device_tracker.snmp
# homeassistant.components.sensor.snmp
pysnmp==4.3.2

# homeassistant.components.sensor.forecast
python-forecastio==1.3.4

# homeassistant.components.sensor.hp_ilo
python-hpilo==3.8

# homeassistant.components.lirc
# python-lirc==1.2.1

# homeassistant.components.media_player.mpd
python-mpd2==0.5.5

# homeassistant.components.switch.mystrom
python-mystrom==0.3.6

# homeassistant.components.nest
python-nest==2.9.2

# homeassistant.components.device_tracker.nmap_tracker
python-nmap==0.6.1

# homeassistant.components.notify.pushover
python-pushover==0.2

# homeassistant.components.notify.telegram
python-telegram-bot==5.0.0

# homeassistant.components.sensor.twitch
python-twitch==1.3.0

# homeassistant.components.wink
python-wink==0.7.15

# homeassistant.components.keyboard
# pyuserinput==0.1.11

# homeassistant.components.vera
pyvera==0.2.20

# homeassistant.components.wemo
pywemo==0.4.6

# homeassistant.components.climate.radiotherm
# homeassistant.components.thermostat.radiotherm
radiotherm==1.2

# homeassistant.components.switch.rpi_rf
# rpi-rf==0.9.5

# homeassistant.components.media_player.yamaha
rxv==0.1.11

# homeassistant.components.media_player.samsungtv
samsungctl==0.5.1

# homeassistant.components.sensor.deutsche_bahn
schiene==0.17

# homeassistant.components.scsgate
scsgate==0.1.0

# homeassistant.components.notify.sendgrid
sendgrid==3.4.0

# homeassistant.components.notify.slack
slacker==0.9.25

# homeassistant.components.notify.xmpp
sleekxmpp==1.3.1

# homeassistant.components.sleepiq
sleepyq==0.6

# homeassistant.components.media_player.snapcast
snapcast==1.2.2

# homeassistant.components.climate.honeywell
# homeassistant.components.thermostat.honeywell
somecomfort==0.2.1

# homeassistant.components.sensor.speedtest
speedtest-cli==0.3.4

# homeassistant.components.recorder
# homeassistant.scripts.db_migrator
sqlalchemy==1.0.15

# homeassistant.components.http
static3==0.7.0

# homeassistant.components.statsd
statsd==3.2.1

# homeassistant.components.sensor.steam_online
steamodd==4.21

# homeassistant.components.tellstick
# homeassistant.components.sensor.tellstick
tellcore-py==1.1.2

# homeassistant.components.tellduslive
tellive-py==0.5.2

# homeassistant.components.sensor.temper
temperusb==1.5.1

# homeassistant.components.sensor.transmission
# homeassistant.components.switch.transmission
transmissionrpc==0.11

# homeassistant.components.notify.twilio_sms
twilio==5.4.0

# homeassistant.components.sensor.uber
uber_rides==0.2.5

# homeassistant.components.device_tracker.unifi
unifi==1.2.5

# homeassistant.components.device_tracker.unifi
urllib3

# homeassistant.components.camera.uvc
uvcclient==0.9.0

# homeassistant.components.verisure
vsure==0.10.2

# homeassistant.components.switch.wake_on_lan
wakeonlan==0.2.2

# homeassistant.components.media_player.gpmdp
websocket-client==0.37.0

# homeassistant.components.zigbee
xbee-helper==0.0.7

# homeassistant.components.sensor.xbox_live
xboxapi==0.1.1

# homeassistant.components.sensor.swiss_hydrological_data
# homeassistant.components.sensor.yr
xmltodict==0.10.2

# homeassistant.components.sensor.yahoo_finance
yahoo-finance==1.2.1

# homeassistant.components.sensor.yweather
yahooweather==0.8

# homeassistant.components.zeroconf
zeroconf==0.17.6
