# linters such as pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version

# types-* that have versions roughly corresponding to the packages they
# contain hints for available should be kept in sync with them

-c homeassistant/package_constraints.txt
-r requirements_test_pre_commit.txt
astroid==2.15.4
coverage==7.3.0
freezegun==1.2.2
mock-open==1.4.0
mypy==1.5.1
pre-commit==3.3.3
pydantic==1.10.12
pylint==2.17.4
pylint-per-file-ignores==1.2.1
pipdeptree==2.11.0
pytest-asyncio==0.21.0
pytest-aiohttp==1.0.4
pytest-cov==4.1.0
pytest-freezer==0.4.8
pytest-socket==0.6.0
pytest-test-groups==1.0.3
pytest-sugar==0.9.7
pytest-timeout==2.1.0
pytest-unordered==0.5.2
pytest-picked==0.4.6
pytest-xdist==3.3.1
pytest==7.3.1
requests_mock==1.11.0
respx==0.20.2
syrupy==4.0.8
tqdm==4.66.1
types-aiofiles==22.1.0
types-atomicwrites==1.4.5.1
types-croniter==1.0.6
types-backports==0.1.3
types-beautifulsoup4==4.12.0.6
types-caldav==1.3.0.0
types-chardet==0.1.5
types-decorator==5.1.8.3
types-enum34==1.1.8
types-ipaddress==1.0.8
types-paho-mqtt==1.6.0.6
types-Pillow==10.0.0.2
types-pkg-resources==0.1.3
types-psutil==5.9.5
types-python-dateutil==2.8.19.13
types-python-slugify==0.1.2
types-pytz==2023.3.0.0
types-PyYAML==6.0.12.2
types-requests==2.31.0.1
types-xmltodict==0.13.0.3
