-c homeassistant/package_constraints.txt

# Home Assistant Core
aiohttp==3.7.3
astral==1.10.1
async_timeout==3.0.1
attrs==19.3.0
bcrypt==3.1.7
certifi>=2020.12.5
ciso8601==2.1.3
httpx==0.16.1
jinja2>=2.11.2
PyJWT==1.7.1
cryptography==3.2
pip>=8.0.3,<20.3
python-slugify==4.0.1
pytz>=2020.5
pyyaml==5.4.1
requests==2.25.1
ruamel.yaml==0.15.100
voluptuous==0.12.1
voluptuous-serialize==2.4.0
yarl==1.6.3
