# Home Assistant core
requests==2.18.4
pyyaml>=3.11,<4
pytz>=2017.02
pip>=8.0.3
jinja2>=2.10
voluptuous==0.11.1
typing>=3,<4
aiohttp==3.0.6
async_timeout==2.0.0
astral==1.5
certifi>=2017.4.17
attrs==17.4.0

# homeassistant.components.nuimo_controller
--only-binary=all https://github.com/getSenic/nuimo-linux-python/archive/29fc42987f74d8090d0e2382e8f248ff5990b8c9.zip#nuimo==1.0.0

# homeassistant.components.bbb_gpio
# Adafruit_BBIO==1.0.0

# homeassistant.components.doorbird
DoorBirdPy==0.1.2

# homeassistant.components.homekit
HAP-python==1.1.7

# homeassistant.components.isy994
PyISY==1.1.0

# homeassistant.components.notify.html5
PyJWT==1.6.0

# homeassistant.components.sensor.mvglive
PyMVGLive==1.1.4

# homeassistant.components.arduino
PyMata==2.14

# homeassistant.components.xiaomi_aqara
PyXiaomiGateway==0.8.3

# homeassistant.components.rpi_gpio
# RPi.GPIO==0.6.1

# homeassistant.components.remember_the_milk
RtmAPI==0.7.0

# homeassistant.components.media_player.sonos
SoCo==0.14

# homeassistant.components.sensor.travisci
TravisPy==0.3.5

# homeassistant.components.notify.twitter
TwitterAPI==2.4.8

# homeassistant.components.notify.yessssms
YesssSMS==0.1.1b3

# homeassistant.components.abode
abodepy==0.12.2

# homeassistant.components.media_player.frontier_silicon
afsapi==0.0.3

# homeassistant.components.device_tracker.automatic
aioautomatic==0.6.5

# homeassistant.components.sensor.dnsip
aiodns==1.1.1

# homeassistant.components.emulated_hue
# homeassistant.components.http
aiohttp_cors==0.6.0

# homeassistant.components.hue
aiohue==0.3.0

# homeassistant.components.sensor.imap
aioimaplib==0.7.13

# homeassistant.components.light.lifx
aiolifx==0.6.1

# homeassistant.components.light.lifx
aiolifx_effects==0.1.2

# homeassistant.components.scene.hunterdouglas_powerview
aiopvapi==1.5.4

# homeassistant.components.alarmdecoder
alarmdecoder==1.13.2

# homeassistant.components.sensor.alpha_vantage
alpha_vantage==1.9.0

# homeassistant.components.amcrest
amcrest==1.2.1

# homeassistant.components.media_player.anthemav
anthemav==1.1.8

# homeassistant.components.apcupsd
apcaccess==0.0.13

# homeassistant.components.notify.apns
apns2==0.3.0

# homeassistant.components.asterisk_mbox
asterisk_mbox==0.4.0

# homeassistant.components.light.avion
# avion==0.7

# homeassistant.components.axis
axis==14

# homeassistant.components.tts.baidu
baidu-aip==1.6.6

# homeassistant.components.sensor.modem_callerid
basicmodem==0.7

# homeassistant.components.sensor.linux_battery
batinfo==0.4.2

# homeassistant.components.sensor.eddystone_temperature
# beacontools[scan]==1.2.1

# homeassistant.components.device_tracker.linksys_ap
# homeassistant.components.sensor.geizhals
# homeassistant.components.sensor.scrape
# homeassistant.components.sensor.sytadin
beautifulsoup4==4.6.0

# homeassistant.components.zha
bellows==0.5.1

# homeassistant.components.bmw_connected_drive
bimmer_connected==0.4.1

# homeassistant.components.blink
blinkpy==0.6.0

# homeassistant.components.light.blinksticklight
blinkstick==1.1.8

# homeassistant.components.light.blinkt
# blinkt==0.1.0

# homeassistant.components.sensor.bitcoin
blockchain==1.4.0

# homeassistant.components.light.decora
# bluepy==1.1.4

# homeassistant.components.sensor.bme680
# bme680==1.0.4

# homeassistant.components.notify.aws_lambda
# homeassistant.components.notify.aws_sns
# homeassistant.components.notify.aws_sqs
# homeassistant.components.tts.amazon_polly
boto3==1.4.7

# homeassistant.scripts.credstash
botocore==1.7.34

# homeassistant.components.sensor.buienradar
# homeassistant.components.weather.buienradar
buienradar==0.91

# homeassistant.components.calendar.caldav
caldav==0.5.0

# homeassistant.components.notify.ciscospark
ciscosparkapi==0.4.2

# homeassistant.components.coinbase
coinbase==2.1.0

# homeassistant.components.sensor.coinmarketcap
coinmarketcap==4.2.1

# homeassistant.scripts.check_config
colorlog==3.1.2

# homeassistant.components.alarm_control_panel.concord232
# homeassistant.components.binary_sensor.concord232
concord232==0.15

# homeassistant.scripts.credstash
# credstash==1.14.0

# homeassistant.components.sensor.crimereports
crimereports==1.0.0

# homeassistant.components.datadog
datadog==0.15.0

# homeassistant.components.sensor.metoffice
# homeassistant.components.weather.metoffice
datapoint==0.4.3

# homeassistant.components.light.decora
# decora==0.6

# homeassistant.components.light.decora_wifi
# decora_wifi==1.3

# homeassistant.components.device_tracker.upc_connect
defusedxml==0.5.0

# homeassistant.components.sensor.deluge
# homeassistant.components.switch.deluge
deluge-client==1.0.5

# homeassistant.components.media_player.denonavr
denonavr==0.6.1

# homeassistant.components.media_player.directv
directpy==0.2

# homeassistant.components.sensor.discogs
discogs_client==2.2.1

# homeassistant.components.notify.discord
discord.py==0.16.12

# homeassistant.components.updater
distro==1.2.0

# homeassistant.components.switch.digitalloggers
dlipower==0.7.165

# homeassistant.components.notify.xmpp
dnspython3==1.15.0

# homeassistant.components.sensor.dovado
dovado==0.4.1

# homeassistant.components.sensor.dsmr
dsmr_parser==0.11

# homeassistant.components.dweet
# homeassistant.components.sensor.dweet
dweepy==0.3.0

# homeassistant.components.sensor.eliqonline
eliqonline==1.0.13

# homeassistant.components.enocean
enocean==0.40

# homeassistant.components.sensor.envirophat
# envirophat==0.0.6

# homeassistant.components.sensor.season
ephem==3.7.6.0

# homeassistant.components.keyboard_remote
# evdev==0.6.1

# homeassistant.components.climate.honeywell
evohomeclient==0.2.5

# homeassistant.components.image_processing.dlib_face_detect
# homeassistant.components.image_processing.dlib_face_identify
# face_recognition==1.0.0

# homeassistant.components.sensor.fastdotcom
fastdotcom==0.0.3

# homeassistant.components.sensor.fedex
fedexdeliverymanager==1.0.6

# homeassistant.components.feedreader
# homeassistant.components.sensor.geo_rss_events
feedparser==5.2.1

# homeassistant.components.sensor.fitbit
fitbit==0.3.0

# homeassistant.components.sensor.fixer
fixerio==0.1.1

# homeassistant.components.light.flux_led
flux_led==0.21

# homeassistant.components.notify.free_mobile
freesms==0.1.2

# homeassistant.components.device_tracker.fritz
# homeassistant.components.sensor.fritzbox_callmonitor
# homeassistant.components.sensor.fritzbox_netmonitor
# fritzconnection==0.6.5

# homeassistant.components.switch.fritzdect
fritzhome==1.0.4

# homeassistant.components.tts.google
gTTS-token==1.1.1

# homeassistant.components.device_tracker.bluetooth_le_tracker
# gattlib==0.20150805

# homeassistant.components.sensor.gearbest
gearbest_parser==1.0.5

# homeassistant.components.sensor.gitter
gitterpy==0.1.6

# homeassistant.components.notify.gntp
gntp==1.0.3

# homeassistant.components.google
google-api-python-client==1.6.4

# homeassistant.components.sensor.google_travel_time
googlemaps==2.5.1

# homeassistant.components.sensor.gpsd
gps3==0.33.3

# homeassistant.components.light.greenwave
greenwavereality==0.5.1

# homeassistant.components.media_player.gstreamer
gstreamer-player==1.1.0

# homeassistant.components.ffmpeg
ha-ffmpeg==1.9

# homeassistant.components.media_player.philips_js
ha-philipsjs==0.0.1

# homeassistant.components.sensor.geo_rss_events
haversine==0.4.5

# homeassistant.components.mqtt.server
hbmqtt==0.9.1

# homeassistant.components.climate.heatmiser
heatmiserV3==0.9.1

# homeassistant.components.switch.hikvisioncam
hikvision==0.4

# homeassistant.components.notify.hipchat
hipnotify==1.0.8

# homeassistant.components.binary_sensor.workday
holidays==0.9.3

# homeassistant.components.frontend
home-assistant-frontend==20180310.0

# homeassistant.components.camera.onvif
http://github.com/tgaugry/suds-passworddigest-py3/archive/86fc50e39b4d2b8997481967d6a7fe1c57118999.zip#suds-passworddigest-py3==0.1.2a

# homeassistant.components.remember_the_milk
httplib2==0.10.3

# homeassistant.components.sensor.dht
# https://github.com/adafruit/Adafruit_Python_DHT/archive/da8cddf7fb629c1ef4f046ca44f42523c9cf2d11.zip#Adafruit_DHT==1.3.2

# homeassistant.components.media_player.braviatv
https://github.com/aparraga/braviarc/archive/0.3.7.zip#braviarc==0.3.7

# homeassistant.components.sensor.broadlink
# homeassistant.components.switch.broadlink
https://github.com/balloob/python-broadlink/archive/3580ff2eaccd267846f14246d6ede6e30671f7c6.zip#broadlink==0.5.1

# homeassistant.components.media_player.spotify
https://github.com/happyleavesaoc/spotipy/archive/544614f4b1d508201d363e84e871f86c90aa26b2.zip#spotipy==2.4.4

# homeassistant.components.netatmo
https://github.com/jabesq/netatmo-api-python/archive/v0.9.2.1.zip#lnetatmo==0.9.2.1

# homeassistant.components.neato
https://github.com/jabesq/pybotvac/archive/v0.0.5.zip#pybotvac==0.0.5

# homeassistant.components.switch.anel_pwrctrl
https://github.com/mweinelt/anel-pwrctrl/archive/ed26e8830e28a2bfa4260a9002db23ce3e7e63d7.zip#anel_pwrctrl==0.0.1

# homeassistant.components.sensor.gtfs
https://github.com/robbiet480/pygtfs/archive/00546724e4bbcb3053110d844ca44e2246267dd8.zip#pygtfs==0.1.3

# homeassistant.components.binary_sensor.flic
https://github.com/soldag/pyflic/archive/0.4.zip#pyflic==0.4

# homeassistant.components.media_player.lg_netcast
https://github.com/wokar/pylgnetcast/archive/v0.2.0.zip#pylgnetcast==0.2.0

# homeassistant.components.sensor.bh1750
# homeassistant.components.sensor.bme280
# homeassistant.components.sensor.htu21d
# i2csense==0.0.4

# homeassistant.components.light.iglo
iglo==1.2.7

# homeassistant.components.ihc
ihcsdk==2.2.0

# homeassistant.components.influxdb
# homeassistant.components.sensor.influxdb
influxdb==5.0.0

# homeassistant.components.insteon_local
insteonlocal==0.53

# homeassistant.components.insteon_plm
insteonplm==0.8.2

# homeassistant.components.verisure
jsonpath==0.75

# homeassistant.components.media_player.kodi
# homeassistant.components.notify.kodi
jsonrpc-async==0.6

# homeassistant.components.media_player.kodi
jsonrpc-websocket==0.6

# homeassistant.scripts.keyring
keyring==11.0.0

# homeassistant.scripts.keyring
keyrings.alt==2.3

# homeassistant.components.device_tracker.owntracks
# homeassistant.components.device_tracker.owntracks_http
libnacl==1.6.1

# homeassistant.components.dyson
libpurecoollink==0.4.2

# homeassistant.components.camera.foscam
libpyfoscam==1.0

# homeassistant.components.device_tracker.mikrotik
librouteros==1.0.5

# homeassistant.components.media_player.soundtouch
libsoundtouch==0.7.2

# homeassistant.components.light.lifx_legacy
liffylights==0.9.4

# homeassistant.components.light.osramlightify
lightify==1.0.6.1

# homeassistant.components.light.limitlessled
limitlessled==1.1.0

# homeassistant.components.linode
linode-api==4.1.4b2

# homeassistant.components.media_player.liveboxplaytv
liveboxplaytv==2.0.2

# homeassistant.components.lametric
# homeassistant.components.notify.lametric
lmnotify==0.0.4

# homeassistant.components.sensor.luftdaten
luftdaten==0.1.3

# homeassistant.components.sensor.lyft
lyft_rides==0.2

# homeassistant.components.notify.matrix
matrix-client==0.0.6

# homeassistant.components.maxcube
maxcube-api==0.1.0

# homeassistant.components.mercedesme
mercedesmejsonpy==0.1.2

# homeassistant.components.notify.message_bird
messagebird==1.2.0

# homeassistant.components.sensor.mfi
# homeassistant.components.switch.mfi
mficlient==0.3.0

# homeassistant.components.sensor.miflora
miflora==0.3.0

# homeassistant.components.upnp
miniupnpc==2.0.2

# homeassistant.components.sensor.mopar
motorparts==1.0.2

# homeassistant.components.tts
mutagen==1.40.0

# homeassistant.components.mychevy
mychevy==0.1.1

# homeassistant.components.mycroft
mycroftapi==2.0

# homeassistant.components.usps
myusps==1.3.2

# homeassistant.components.media_player.nad
# homeassistant.components.media_player.nadtcp
nad_receiver==0.0.9

# homeassistant.components.discovery
netdisco==1.2.4

# homeassistant.components.sensor.neurio_energy
neurio==0.3.1

# homeassistant.components.sensor.nederlandse_spoorwegen
nsapi==2.7.4

# homeassistant.components.nuheat
nuheat==0.3.0

# homeassistant.components.binary_sensor.trend
# homeassistant.components.image_processing.opencv
numpy==1.14.0

# homeassistant.components.google
oauth2client==4.0.0

# homeassistant.components.climate.oem
oemthermostat==1.1

# homeassistant.components.media_player.onkyo
onkyo-eiscp==1.2.4

# homeassistant.components.camera.onvif
onvif-py3==0.1.3

# homeassistant.components.sensor.openevse
openevsewifi==0.4

# homeassistant.components.media_player.openhome
openhomedevice==0.4.2

# homeassistant.components.switch.orvibo
orvibo==1.1.1

# homeassistant.components.mqtt
# homeassistant.components.shiftr
paho-mqtt==1.3.1

# homeassistant.components.media_player.panasonic_viera
panasonic_viera==0.3.1

# homeassistant.components.media_player.dunehd
pdunehd==1.3

# homeassistant.components.device_tracker.aruba
# homeassistant.components.device_tracker.asuswrt
# homeassistant.components.device_tracker.cisco_ios
# homeassistant.components.device_tracker.unifi_direct
# homeassistant.components.media_player.pandora
pexpect==4.0.1

# homeassistant.components.hue
phue==1.0

# homeassistant.components.rpi_pfio
pifacecommon==4.1.2

# homeassistant.components.rpi_pfio
pifacedigitalio==3.0.5

# homeassistant.components.light.piglow
piglow==1.2.4

# homeassistant.components.pilight
pilight==0.1.1

# homeassistant.components.camera.proxy
pillow==5.0.0

# homeassistant.components.dominos
pizzapi==0.0.3

# homeassistant.components.media_player.plex
# homeassistant.components.sensor.plex
plexapi==3.0.6

# homeassistant.components.sensor.mhz19
# homeassistant.components.sensor.serial_pm
pmsensor==0.4

# homeassistant.components.sensor.pocketcasts
pocketcasts==0.1

# homeassistant.components.climate.proliphix
proliphix==0.4.1

# homeassistant.components.prometheus
prometheus_client==0.1.0

# homeassistant.components.sensor.systemmonitor
psutil==5.4.3

# homeassistant.components.wink
pubnubsub-handler==1.0.2

# homeassistant.components.notify.pushbullet
# homeassistant.components.sensor.pushbullet
pushbullet.py==0.11.0

# homeassistant.components.notify.pushetta
pushetta==1.0.15

# homeassistant.components.light.rpi_gpio_pwm
pwmled==1.2.1

# homeassistant.components.august
py-august==0.4.0

# homeassistant.components.canary
py-canary==0.4.1

# homeassistant.components.sensor.cpuspeed
py-cpuinfo==3.3.0

# homeassistant.components.melissa
py-melissa-climate==1.0.6

# homeassistant.components.camera.synology
py-synology==0.2.0

# homeassistant.components.hdmi_cec
pyCEC==0.4.13

# homeassistant.components.light.tplink
# homeassistant.components.switch.tplink
pyHS100==0.3.0

# homeassistant.components.rfxtrx
pyRFXtrx==0.21.1

# homeassistant.components.sensor.tibber
pyTibber==0.3.2

# homeassistant.components.switch.dlink
pyW215==0.6.0

# homeassistant.components.ads
pyads==2.2.6

# homeassistant.components.sensor.airvisual
pyairvisual==1.0.0

# homeassistant.components.alarm_control_panel.alarmdotcom
pyalarmdotcom==0.3.1

# homeassistant.components.arlo
pyarlo==0.1.2

# homeassistant.components.notify.xmpp
pyasn1-modules==0.1.5

# homeassistant.components.notify.xmpp
pyasn1==0.3.7

# homeassistant.components.apple_tv
pyatv==0.3.9

# homeassistant.components.device_tracker.bbox
# homeassistant.components.sensor.bbox
pybbox==0.0.5-alpha

# homeassistant.components.device_tracker.bluetooth_tracker
# pybluez==0.22

# homeassistant.components.media_player.channels
pychannels==1.0.0

# homeassistant.components.media_player.cast
pychromecast==2.0.0

# homeassistant.components.media_player.cmus
pycmus==0.1.0

# homeassistant.components.comfoconnect
pycomfoconnect==0.3

# homeassistant.components.tts.microsoft
pycsspeechtts==1.0.2

# homeassistant.components.sensor.cups
# pycups==1.9.73

# homeassistant.components.daikin
# homeassistant.components.climate.daikin
pydaikin==0.4

# homeassistant.components.deconz
pydeconz==30

# homeassistant.components.zwave
pydispatcher==2.0.5

# homeassistant.components.android_ip_webcam
pydroid-ipcam==0.8

# homeassistant.components.sensor.ebox
pyebox==0.1.0

# homeassistant.components.climate.econet
pyeconet==0.0.5

# homeassistant.components.switch.edimax
pyedimax==0.1

# homeassistant.components.eight_sleep
pyeight==0.0.7

# homeassistant.components.media_player.emby
pyemby==1.5

# homeassistant.components.envisalink
pyenvisalink==2.2

# homeassistant.components.climate.ephember
pyephember==0.1.1

# homeassistant.components.sensor.fido
pyfido==2.1.0

# homeassistant.components.climate.flexit
pyflexit==0.3

# homeassistant.components.ifttt
pyfttt==0.3

# homeassistant.components.remote.harmony
pyharmony==1.0.20

# homeassistant.components.binary_sensor.hikvision
pyhik==0.1.8

# homeassistant.components.hive
pyhiveapi==0.2.11

# homeassistant.components.homematic
pyhomematic==0.1.39

# homeassistant.components.sensor.hydroquebec
pyhydroquebec==2.1.0

# homeassistant.components.alarm_control_panel.ialarm
pyialarm==0.2

# homeassistant.components.device_tracker.icloud
pyicloud==0.9.1

# homeassistant.components.sensor.irish_rail_transport
pyirishrail==0.0.2

# homeassistant.components.binary_sensor.iss
pyiss==1.0.1

# homeassistant.components.remote.itach
pyitachip2ir==0.0.7

# homeassistant.components.kira
pykira==0.1.1

# homeassistant.components.sensor.kwb
pykwb==0.0.8

# homeassistant.components.sensor.lacrosse
pylacrosse==0.3.1

# homeassistant.components.sensor.lastfm
pylast==2.1.0

# homeassistant.components.media_player.webostv
# homeassistant.components.notify.webostv
pylgtv==0.1.7

# homeassistant.components.litejet
pylitejet==0.1

# homeassistant.components.sensor.loopenergy
pyloopenergy==0.0.18

# homeassistant.components.lutron_caseta
pylutron-caseta==0.3.0

# homeassistant.components.lutron
pylutron==0.1.0

# homeassistant.components.notify.mailgun
pymailgunner==1.4

# homeassistant.components.media_player.mediaroom
pymediaroom==0.5

# homeassistant.components.media_player.xiaomi_tv
pymitv==1.0.0

# homeassistant.components.mochad
pymochad==0.2.0

# homeassistant.components.modbus
pymodbus==1.3.1

# homeassistant.components.media_player.monoprice
pymonoprice==0.3

# homeassistant.components.media_player.yamaha_musiccast
pymusiccast==0.1.6

# homeassistant.components.cover.myq
pymyq==0.0.8

# homeassistant.components.mysensors
pymysensors==0.11.1

# homeassistant.components.lock.nello
pynello==1.5.1

# homeassistant.components.device_tracker.netgear
pynetgear==0.3.3

# homeassistant.components.switch.netio
pynetio==0.1.6

# homeassistant.components.lock.nuki
pynuki==1.3.1

# homeassistant.components.sensor.nut
pynut2==2.1.2

# homeassistant.components.alarm_control_panel.nx584
# homeassistant.components.binary_sensor.nx584
pynx584==0.4

# homeassistant.components.iota
pyota==2.0.4

# homeassistant.components.sensor.otp
pyotp==2.2.6

# homeassistant.components.sensor.openweathermap
# homeassistant.components.weather.openweathermap
pyowm==2.8.0

# homeassistant.components.sensor.pollen
pypollencom==1.1.1

# homeassistant.components.qwikswitch
pyqwikswitch==0.4

# homeassistant.components.rainbird
pyrainbird==0.1.3

# homeassistant.components.sensor.sabnzbd
pysabnzbd==1.0.1

# homeassistant.components.climate.sensibo
pysensibo==1.0.2

# homeassistant.components.sensor.serial
pyserial-asyncio==0.4

# homeassistant.components.switch.acer_projector
pyserial==3.1.1

# homeassistant.components.lock.sesame
pysesame==0.1.0

# homeassistant.components.goalfeed
pysher==0.2.0

# homeassistant.components.sensor.sma
pysma==0.2

# homeassistant.components.device_tracker.snmp
# homeassistant.components.sensor.snmp
# homeassistant.components.switch.snmp
pysnmp==4.4.4

# homeassistant.components.media_player.liveboxplaytv
pyteleloisirs==3.3

# homeassistant.components.sensor.thinkingcleaner
# homeassistant.components.switch.thinkingcleaner
pythinkingcleaner==0.0.3

# homeassistant.components.sensor.blockchain
python-blockchain-api==0.0.2

# homeassistant.components.media_player.clementine
python-clementine-remote==1.0.1

# homeassistant.components.digital_ocean
python-digitalocean==1.13.2

# homeassistant.components.ecobee
python-ecobee-api==0.0.15

# homeassistant.components.climate.eq3btsmart
# python-eq3bt==0.1.9

# homeassistant.components.sensor.etherscan
python-etherscan-api==0.0.3

# homeassistant.components.sensor.darksky
# homeassistant.components.weather.darksky
python-forecastio==1.3.5

# homeassistant.components.gc100
python-gc100==1.0.3a

# homeassistant.components.sensor.hp_ilo
python-hpilo==3.9

# homeassistant.components.joaoapps_join
# homeassistant.components.notify.joaoapps_join
python-join-api==0.0.2

# homeassistant.components.juicenet
python-juicenet==0.0.5

# homeassistant.components.lirc
# python-lirc==1.2.3

# homeassistant.components.fan.xiaomi_miio
# homeassistant.components.light.xiaomi_miio
# homeassistant.components.remote.xiaomi_miio
# homeassistant.components.switch.xiaomi_miio
# homeassistant.components.vacuum.xiaomi_miio
python-miio==0.3.7

# homeassistant.components.media_player.mpd
python-mpd2==0.5.5

# homeassistant.components.light.mystrom
# homeassistant.components.switch.mystrom
python-mystrom==0.3.8

# homeassistant.components.nest
python-nest==3.1.0

# homeassistant.components.device_tracker.nmap_tracker
python-nmap==0.6.1

# homeassistant.components.notify.pushover
python-pushover==0.3

# homeassistant.components.sensor.ripple
python-ripple-api==0.0.3

# homeassistant.components.media_player.roku
python-roku==3.1.5

# homeassistant.components.sensor.sochain
python-sochain-api==0.0.2

# homeassistant.components.media_player.songpal
python-songpal==0.0.6

# homeassistant.components.sensor.synologydsm
python-synology==0.1.0

# homeassistant.components.tado
python-tado==0.2.2

# homeassistant.components.telegram_bot
python-telegram-bot==9.0.0

# homeassistant.components.sensor.twitch
python-twitch==1.3.0

# homeassistant.components.velbus
python-velbus==2.0.11

# homeassistant.components.media_player.vlc
python-vlc==1.1.2

# homeassistant.components.wink
python-wink==1.7.3

# homeassistant.components.sensor.swiss_public_transport
python_opendata_transport==0.0.3

# homeassistant.components.zwave
python_openzwave==0.4.3

# homeassistant.components.egardia
# homeassistant.components.alarm_control_panel.egardia
pythonegardia==1.0.38

# homeassistant.components.sensor.whois
pythonwhois==2.4.3

# homeassistant.components.device_tracker.tile
pytile==1.1.0

# homeassistant.components.climate.touchline
pytouchline==0.7

# homeassistant.components.device_tracker.trackr
pytrackr==0.0.5

# homeassistant.components.tradfri
pytradfri[async]==4.1.0

# homeassistant.components.device_tracker.unifi
pyunifi==2.13

# homeassistant.components.keyboard
# pyuserinput==0.1.11

# homeassistant.components.vera
pyvera==0.2.42

# homeassistant.components.media_player.vizio
pyvizio==0.0.2

# homeassistant.components.velux
pyvlx==0.1.3

# homeassistant.components.notify.html5
pywebpush==1.6.0

# homeassistant.components.wemo
pywemo==0.4.25

# homeassistant.components.camera.xeoma
pyxeoma==1.3

# homeassistant.components.zabbix
pyzabbix==0.7.4

# homeassistant.components.sensor.qnap
qnapstats==0.2.4

# homeassistant.components.switch.rachio
rachiopy==0.1.2

# homeassistant.components.climate.radiotherm
radiotherm==1.3

# homeassistant.components.raincloud
raincloudy==0.0.4

# homeassistant.components.raspihats
# raspihats==2.2.3

# homeassistant.components.switch.rainmachine
regenmaschine==0.4.1

# homeassistant.components.python_script
restrictedpython==4.0b2

# homeassistant.components.rflink
rflink==0.0.34

# homeassistant.components.ring
ring_doorbell==0.1.8

# homeassistant.components.notify.rocketchat
rocketchat-API==0.6.1

# homeassistant.components.vacuum.roomba
roombapy==1.3.1

# homeassistant.components.switch.rpi_rf
# rpi-rf==0.9.6

# homeassistant.components.media_player.russound_rnet
russound==0.1.9

# homeassistant.components.media_player.russound_rio
russound_rio==0.1.4

# homeassistant.components.media_player.yamaha
rxv==0.5.1

# homeassistant.components.media_player.samsungtv
samsungctl[websocket]==0.7.1

# homeassistant.components.satel_integra
satel_integra==0.1.0

# homeassistant.components.sensor.deutsche_bahn
schiene==0.21

# homeassistant.components.scsgate
scsgate==0.1.0

# homeassistant.components.notify.sendgrid
sendgrid==5.3.0

# homeassistant.components.light.sensehat
# homeassistant.components.sensor.sensehat
sense-hat==2.2.0

# homeassistant.components.sensor.sense
sense_energy==0.3.1

# homeassistant.components.media_player.aquostv
sharp_aquos_rc==0.3.2

# homeassistant.components.sensor.shodan
shodan==1.7.7

# homeassistant.components.notify.simplepush
simplepush==1.1.4

# homeassistant.components.alarm_control_panel.simplisafe
simplisafe-python==1.0.5

# homeassistant.components.skybell
skybellpy==0.1.1

# homeassistant.components.notify.slack
slacker==0.9.60

# homeassistant.components.notify.xmpp
sleekxmpp==1.3.2

# homeassistant.components.sleepiq
sleepyq==0.6

# homeassistant.components.smappee
smappy==0.2.15

# homeassistant.components.raspihats
# homeassistant.components.sensor.bh1750
# homeassistant.components.sensor.bme280
# homeassistant.components.sensor.bme680
# homeassistant.components.sensor.envirophat
# homeassistant.components.sensor.htu21d
# smbus-cffi==0.5.1

# homeassistant.components.media_player.snapcast
snapcast==2.0.8

# homeassistant.components.climate.honeywell
somecomfort==0.5.0

# homeassistant.components.sensor.speedtest
speedtest-cli==2.0.0

# homeassistant.components.sensor.spotcrime
spotcrime==1.0.2

# homeassistant.components.recorder
# homeassistant.scripts.db_migrator
# homeassistant.components.sensor.sql
sqlalchemy==1.2.2

# homeassistant.components.statsd
statsd==3.2.1

# homeassistant.components.sensor.steam_online
steamodd==4.21

# homeassistant.components.camera.onvif
suds-py3==1.3.3.0

# homeassistant.components.tahoma
tahoma-api==0.0.13

# homeassistant.components.sensor.tank_utility
tank_utility==1.4.0

# homeassistant.components.binary_sensor.tapsaff
tapsaff==0.1.3

# homeassistant.components.tellstick
tellcore-net==0.4

# homeassistant.components.tellstick
tellcore-py==1.1.2

# homeassistant.components.tellduslive
tellduslive==0.10.4

# homeassistant.components.sensor.temper
temperusb==1.5.3

# homeassistant.components.tesla
teslajsonpy==0.0.23

# homeassistant.components.thingspeak
thingspeak==0.4.1

# homeassistant.components.light.tikteck
tikteck==0.4

# homeassistant.components.calendar.todoist
todoist-python==7.0.17

# homeassistant.components.toon
toonlib==1.0.2

# homeassistant.components.alarm_control_panel.totalconnect
total_connect_client==0.16

# homeassistant.components.sensor.transmission
# homeassistant.components.switch.transmission
transmissionrpc==0.11

# homeassistant.components.twilio
twilio==5.7.0

# homeassistant.components.sensor.uber
uber_rides==0.6.0

# homeassistant.components.upcloud
upcloud-api==0.4.2

# homeassistant.components.sensor.ups
upsmychoice==1.0.6

# homeassistant.components.camera.uvc
uvcclient==0.10.1

# homeassistant.components.climate.venstar
venstarcolortouch==0.6

# homeassistant.components.config.config_entries
voluptuous-serialize==1

# homeassistant.components.volvooncall
volvooncall==0.4.0

# homeassistant.components.verisure
vsure==1.3.7

# homeassistant.components.sensor.vasttrafik
vtjp==0.1.14

# homeassistant.components.vultr
vultr==0.1.2

# homeassistant.components.wake_on_lan
# homeassistant.components.media_player.panasonic_viera
# homeassistant.components.media_player.samsungtv
# homeassistant.components.switch.wake_on_lan
wakeonlan==1.0.0

# homeassistant.components.sensor.waqi
waqiasync==1.0.0

# homeassistant.components.cloud
warrant==0.6.1

# homeassistant.components.waterfurnace
waterfurnace==0.4.0

# homeassistant.components.media_player.gpmdp
websocket-client==0.37.0

# homeassistant.components.spc
# homeassistant.components.media_player.webostv
websockets==3.2

# homeassistant.components.zigbee
xbee-helper==0.0.7

# homeassistant.components.sensor.xbox_live
xboxapi==0.1.1

# homeassistant.components.knx
xknx==0.8.5

# homeassistant.components.media_player.bluesound
# homeassistant.components.sensor.startca
# homeassistant.components.sensor.swiss_hydrological_data
# homeassistant.components.sensor.ted5000
# homeassistant.components.sensor.yr
# homeassistant.components.sensor.zestimate
xmltodict==0.11.0

# homeassistant.components.sensor.yahoo_finance
yahoo-finance==1.4.0

# homeassistant.components.sensor.yweather
# homeassistant.components.weather.yweather
yahooweather==0.10

# homeassistant.components.light.yeelight
yeelight==0.4.0

# homeassistant.components.light.yeelightsunflower
yeelightsunflower==0.0.8

# homeassistant.components.media_extractor
youtube_dl==2018.02.11

# homeassistant.components.light.zengge
zengge==0.2

# homeassistant.components.zeroconf
zeroconf==0.19.1

# homeassistant.components.media_player.ziggo_mediabox_xl
ziggo-mediabox-xl==1.0.0

# homeassistant.components.zha
zigpy-xbee==0.0.2

# homeassistant.components.zha
zigpy==0.0.3
