# Describes the services for the Kaleidescape integration

update_volume_level:
  target:
    entity:
      domain: media_player
  fields:
    volume_level:
      required: true
      example: 0.5
      selector:
        number:
          min: 0
          max: 1
          step: 0.01

update_volume_muted:
  target:
    entity:
      domain: media_player
  fields:
    is_volume_muted:
      required: true
      example: true
      selector:
        boolean:
