set_mode:
  name: Set mode
  description: Set a operation mode.
  target:
  fields:
    mode:
      name: Mode
      description: Operation mode. Valid values are 'last', 'normal', 'rgb', 'hsv', 'color_flow', 'moonlight'.
      example: "moonlight"
      values:
        - last
        - normal
        - rgb
        - hsv
        - color_flow
        - moonlight
      selector:
        select:
          options:
            - last
            - normal
            - rgb
            - hsv
            - color_flow
            - moonlight
set_color_scene:
  name: Set color scene
  description: Changes the light to the specified RGB color and brightness. If the light is off, it will be turned on.
  target:
  fields:
    rgb_color:
      name: RGB-color
      description: Color for the light in RGB-format.
      example: "[255, 100, 100]"
      selector:
        object:
    brightness:
      name: Brightness
      description: The brightness value to set (1-100).
      example: 50
      selector:
        number:
          min: 0
          max: 100
          step: 1
          unit_of_measurement: "%"
          mode: slider
set_hsv_scene:
  name: Set HSV scene
  description: Changes the light to the specified HSV color and brightness. If the light is off, it will be turned on.
  target:
  fields:
    hs_color:
      name: Hue/Sat color
      description: Color for the light in hue/sat format. Hue is 0-359 and Sat is 0-100.
      example: "[300, 70]"
      selector:
        object:
    brightness:
      name: Brightness
      description: The brightness value to set (1-100).
      example: 50
      selector:
        number:
          min: 0
          max: 100
          step: 1
          unit_of_measurement: "%"
          mode: slider
set_color_temp_scene:
  name: Set color temp scene
  description: Changes the light to the specified color temperature. If the light is off, it will be turned on.
  target:
  fields:
    kelvin:
      name: Color temperature (Kelvin)
      description: Color temperature for the light in Kelvin.
      example: 4000
      selector:
        number:
          min: 2000
          max: 6500
          step: 100
          unit_of_measurement: K
          mode: slider
    brightness:
      name: Brightness
      description: The brightness value to set (1-100).
      example: 50
      selector:
        number:
          min: 0
          max: 100
          step: 1
          unit_of_measurement: "%"
          mode: slider
set_color_flow_scene:
  name: Set color flow scene
  description: starts a color flow. If the light is off, it will be turned on.
  target:
  fields:
    count:
      name : Count
      description: The number of times to run this flow (0 to run forever).
      example: 0
      selector:
        number:
          min: 0
          mode: box
    action:
      name: Action
      description: The action to take after the flow stops. Can be 'recover', 'stay', 'off'. (default 'recover')
      default: "recover"
      example: "stay"
      values:
        - recover
        - stay
        - off
      selector:
        select:
          options:
            - recover
            - stay
            - off
    transitions:
      name: Transitions
      description: Array of transitions, for desired effect. Examples https://yeelight.readthedocs.io/en/stable/flow.html
      example: '[{ "TemperatureTransition": [1900, 1000, 80] }, { "TemperatureTransition": [1900, 1000, 10] }]'
      selector:
        object:
set_auto_delay_off_scene:
  name: Set auto delay off scene
  description: Turns the light on to the specified brightness and sets a timer to turn it back off after the given number of minutes. If the light is off, Set a color scene, if light is off, it will be turned on.
  target:
  fields:
    minutes:
      name: Minutes
      description: The minutes to wait before automatically turning the light off.
      example: 5
      selector:
        number:
          min: 0
          unit_of_measurement: minutes
          mode: box
    brightness:
      name: Brightness
      description: The brightness value to set (1-100).
      example: 50
      selector:
        number:
          min: 0
          max: 100
          step: 1
          unit_of_measurement: "%"
          mode: slider
start_flow:
  name: Start flow
  description: Start a custom flow, using transitions from https://yeelight.readthedocs.io/en/stable/yeelight.html#flow-objects
  target:
  fields:
    count:
      name: Count
      description: The number of times to run this flow (0 to run forever).
      example: 0
      selector:
        number:
          min: 0
          mode: box
    action:
      name: Action
      description: The action to take after the flow stops. Can be 'recover', 'stay', 'off'. (default 'recover')
      default: "recover"
      example: "stay"
      values:
        - recover
        - stay
        - off
      selector:
        select:
          options:
            - recover
            - stay
            - off
    transitions:
      name: Transitions
      description: Array of transitions, for desired effect. Examples https://yeelight.readthedocs.io/en/stable/flow.html
      example: '[{ "TemperatureTransition": [1900, 1000, 80] }, { "TemperatureTransition": [1900, 1000, 10] }]'
      selector:
        object:
set_music_mode:
  name: Set music mode
  description: Enable or disable music_mode
  target:
  fields:
    music_mode:
      name: Music mode
      description: Use true or false to enable / disable music_mode
      default: false
      example: true
      selector:
        boolean:
