<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Assistant</title>

    <link rel='manifest' href='/static/manifest.json' />
    <link rel='shortcut icon' href='/static/favicon.ico' />
    <link rel='icon' type='image/png'
         href='/static/favicon-192x192.png' sizes='192x192'>
    <link rel='apple-touch-icon' sizes='180x180'
         href='/static/favicon-apple-180x180.png'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='viewport' content='width=device-width,
          user-scalable=no' />
    <meta name='theme-color' content='#03a9f4'>
    <style>
      #init {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Roboto', 'Noto', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      #init div {
        line-height: 34px;
        margin-bottom: 89px;
      }
    </style>
  </head>
  <body fullbleed>
    <div id='init'>
      <img src='/static/splash.png' height='230' />
      <div>Initializing</div>
    </div>
    <script src='/static/webcomponents-lite.min.js'></script>
    <link rel='import' href='/static/{{ app_url }}' />
    <home-assistant auth='{{ auth }}'></home-assistant>
  </body>
</html>
