generate_content:
  fields:
    prompt:
      required: true
      selector:
        text:
          multiline: true
    image_filename:
      required: false
      selector:
        object:
    filenames:
      required: false
      selector:
        text:
          multiple: true
