<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>aREST sensor - Home Assistant</title>
    <meta name="author" content="Paulus Schoutsen">
    <meta name="description" content="Instructions how to integrate aREST sensors within Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/sensor.arest/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="aREST sensor">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/sensor.arest/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate aREST sensors within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="aREST sensor">
    <meta name="twitter:description" content="Instructions how to integrate aREST sensors within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/images/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li>
    <a href="/getting-started/">Getting started</a>
    <ul>
      <li><a href='/getting-started/'>Installing Home Assistant</a></li>
      <li><a href='/getting-started/configuration/'>Configuration basics</a></li>
      <li><a href='/getting-started/devices/'>Adding devices</a></li>
      <li><a href='/getting-started/presence-detection/'>Presence detection</a></li>
      <li><a href='/getting-started/automation/'>Automation</a></li>
      <li><a href='/getting-started/templating/'>Templating</a></li>
      <li><a href='/cookbook'>Configuration cookbook</a></li>
    </ul>
  </li>
  <li><a href='/components/'>Components</a></li>
  <li>
    <a href="/developers/">Developers</a>
    <ul>
      <li><a href="/developers/architecture/">Architecture</a></li>
      <li><a href="/developers/frontend/">Frontend development</a></li>
      <li><a href="/developers/creating_components/">
        Creating components
      </a></li>
      <li><a href="/developers/add_new_platform/">
        Adding platform support
      </a></li>
      <li><a href="/developers/api/">API</a></li>
      <li><a href="/developers/credits/">Credits</a></li>
    </ul>
  </li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">
  <header>
    <h1 class="title indent">
      aREST sensor
    </h1>
  </header>
  <hr class="divider">

  <p>The arest sensor platform allows you to get all data from your devices (like Arduinos with a ethernet/wifi connection, the ESP8266, and the Raspberry Pi) running the <a href="http://arest.io/">aREST</a> RESTful framework.</p>

<p>To use your aREST enabled device in your installation, add the following to your <code>configuration.yaml</code> file:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="comment"># Example configuration.yaml entry</span>
<span class="key">sensor</span>:
  <span class="key">platform</span>: <span class="string"><span class="content">arest</span></span>
  <span class="key">resource</span>: <span class="string"><span class="content">http://IP_ADDRESS</span></span>
  <span class="key">name</span>: <span class="string"><span class="content">Office</span></span>
  <span class="key">monitored_variables</span>:
    - <span class="string"><span class="content">name: temperature</span></span>
      <span class="key">unit_of_measurement</span>: <span class="string"><span class="content">'°C'</span></span>
      <span class="key">value_template</span>: <span class="string"><span class="content">'{{ value | round(1) }}'</span></span>
    - <span class="string"><span class="content">name: humidity</span></span>
      <span class="key">unit_of_measurement</span>: <span class="string"><span class="content">'%'</span></span>
  <span class="key">pins</span>:
    <span class="key">A0</span>:
      <span class="key">name</span>: <span class="string"><span class="content">Pin 0 analog</span></span>
      <span class="key">unit_of_measurement</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">ca</span><span class="delimiter">&quot;</span></span>
      <span class="key">value_template</span>: <span class="string"><span class="content">'{{ value_json.light }}'</span></span>
    <span class="key">3</span>:
      <span class="key">name</span>: <span class="string"><span class="content">Pin 3 digital</span></span>
</pre></div>
</div>
</div>

<p>Configuration variables:</p>

<ul>
  <li><strong>resource</strong> (<em>Required</em>): IP address and schema of the device that is exposing an aREST API, e.g. http://192.168.1.10.</li>
  <li><strong>name</strong> (<em>Optional</em>): Let you overwrite the the name of the device. By default <em>name</em> from the device is used.</li>
  <li><strong>monitored_variables</strong> array (<em>Optional</em>): List of exposed variables.
    <ul>
      <li><strong>name</strong> (<em>Required</em>): The name of the variable you wish to monitor.</li>
      <li><strong>unit</strong> (<em>Optional</em>): Defines the units of measurement of the sensor, if any.</li>
      <li><strong>value_template</strong> (<em>Optional</em>): Defines a <a href="/getting-started/templating/">template</a> to extract a value from the payload.</li>
    </ul>
  </li>
  <li><strong>pins</strong> array (<em>Optional</em>): List of pins to monitor. Analog pins need a leading <strong>A</strong> for the pin number.
    <ul>
      <li><strong>name</strong> (<em>Optional</em>): The name of the variable you wish to monitor.</li>
      <li><strong>unit_of_measurement</strong> (<em>Optional</em>): Defines the unit of measurement of the sensor, if any.</li>
      <li><strong>value_template</strong> (<em>Optional</em>): Defines a <a href="/getting-started/templating/">template</a> to extract a value from the payload.</li>
    </ul>
  </li>
</ul>

<p>The variables in the <code>monitored_variables</code> array must be available in the response of the device. As a starting point you could use the one of the example sketches (eg.  <a href="https://raw.githubusercontent.com/marcoschwartz/aREST/master/examples/Ethernet/Ethernet.ino">Ethernet</a> for an Arduino with Ethernet shield). In those sketches are two variables (<code>temperature</code> and <code>humidity</code>) available which will act as endpoints.</p>

<p>Accessing one of the endpoints (eg. http://192.168.1.10/temperature) will give you the value inside a JSON response.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>{<span class="key"><span class="delimiter">&quot;</span><span class="content">temperature</span><span class="delimiter">&quot;</span></span>: <span class="integer">23</span>, <span class="key"><span class="delimiter">&quot;</span><span class="content">id</span><span class="delimiter">&quot;</span></span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">sensor01</span><span class="delimiter">&quot;</span></span>, <span class="key"><span class="delimiter">&quot;</span><span class="content">name</span><span class="delimiter">&quot;</span></span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">livingroom</span><span class="delimiter">&quot;</span></span>, <span class="key"><span class="delimiter">&quot;</span><span class="content">connected</span><span class="delimiter">&quot;</span></span>: <span class="value">true</span>}
</pre></div>
</div>
</div>

<p>The root will give you a JSON response that contains all variables and their current values along with some device details.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>{
   <span class="key"><span class="delimiter">&quot;</span><span class="content">variables</span><span class="delimiter">&quot;</span></span> : {
      <span class="key"><span class="delimiter">&quot;</span><span class="content">temperature</span><span class="delimiter">&quot;</span></span> : <span class="integer">23</span>,
      <span class="key"><span class="delimiter">&quot;</span><span class="content">humidity</span><span class="delimiter">&quot;</span></span> : <span class="integer">82</span>
   },
   <span class="key"><span class="delimiter">&quot;</span><span class="content">id</span><span class="delimiter">&quot;</span></span> : <span class="string"><span class="delimiter">&quot;</span><span class="content">sensor01</span><span class="delimiter">&quot;</span></span>,
   <span class="key"><span class="delimiter">&quot;</span><span class="content">name</span><span class="delimiter">&quot;</span></span> : <span class="string"><span class="delimiter">&quot;</span><span class="content">livingroom</span><span class="delimiter">&quot;</span></span>,
   <span class="key"><span class="delimiter">&quot;</span><span class="content">connected</span><span class="delimiter">&quot;</span></span> : <span class="value">true</span>
}
</pre></div>
</div>
</div>

<p><code>return_value</code> contains the sensor’s data in a JSON response for a given pin (eg. http://192.168.1.10/analog/2/ or  http://192.168.1.10/digital/7/).</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre>{<span class="key"><span class="delimiter">&quot;</span><span class="content">return_value</span><span class="delimiter">&quot;</span></span>: <span class="integer">34</span>, <span class="key"><span class="delimiter">&quot;</span><span class="content">id</span><span class="delimiter">&quot;</span></span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">sensor02</span><span class="delimiter">&quot;</span></span>, <span class="key"><span class="delimiter">&quot;</span><span class="content">name</span><span class="delimiter">&quot;</span></span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">livingroom</span><span class="delimiter">&quot;</span></span>, <span class="key"><span class="delimiter">&quot;</span><span class="content">connected</span><span class="delimiter">&quot;</span></span>: <span class="value">true</span>}
</pre></div>
</div>
</div>


</article>


        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/arest.png' />
  </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/binary_sensor.arest/'>
          aREST binary sensor
        </a></li>
        <li><a href='/components/switch.arest/'>
          aREST switch
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Sensor</h1>
    <ul class='divided'>
        <li>
            <a href='/components/sensor.bitcoin/'>Bitcoin</a>
        </li>
        <li>
            <a href='/components/sensor.cpuspeed/'>CPU speed</a>
        </li>
        <li>
            <a href='/components/sensor.command_sensor/'>Command line sensor</a>
        </li>
        <li>
            <a href='/components/sensor.dweet/'>Dweet.io</a>
        </li>
        <li>
            <a href='/components/sensor.ecobee/'>Ecobee sensor</a>
        </li>
        <li>
            <a href='/components/sensor.efergy/'>Efergy</a>
        </li>
        <li>
            <a href='/components/sensor.eliqonline/'>Eliqonline</a>
        </li>
        <li>
            <a href='/components/sensor.glances/'>Glances</a>
        </li>
        <li>
            <a href='/components/sensor.mqtt/'>MQTT sensor</a>
        </li>
        <li>
            <a href='/components/sensor.modbus/'>Modbus sensor</a>
        </li>
        <li>
            <a href='/components/sensor.mysensors/'>MySensors sensor</a>
        </li>
        <li>
            <a href='/components/sensor.rest/'>RESTful sensor</a>
        </li>
        <li>
            <a href='/components/sensor.rfxtrx/'>RFXtrx sensor</a>
        </li>
        <li>
            <a href='/components/sensor.sabnzbd/'>SABnzbd</a>
        </li>
        <li>
            <a href='/components/sensor.swiss_public_transport/'>Swiss Public Transport</a>
        </li>
        <li>
            <a href='/components/sensor.systemmonitor/'>System Monitor</a>
        </li>
        <li>
            <a href='/components/sensor.temper/'>TEMPer sensor</a>
        </li>
        <li>
            <a href='/components/sensor.tellstick/'>TellStick sensor</a>
        </li>
        <li>
            <a href='/components/sensor.time_date/'>Time & Date</a>
        </li>
        <li>
            <a href='/components/sensor.torque/'>Torque (OBD2)</a>
        </li>
        <li>
            <a href='/components/sensor.transmission/'>Transmission sensor</a>
        </li>
        <li>
            <a href='/components/sensor.twitch/'>Twitch</a>
        </li>
        <li>
            <a href='/components/sensor.vera/'>Vera sensor</a>
        </li>
        <li>
            <a href='/components/sensor.wink/'>Wink sensor</a>
        </li>
        <li>
            <a href='/components/sensor.worldclock/'>Worldclock</a>
        </li>
        <li>
            <a href='/components/sensor.zwave/'>Z-Wave sensor</a>
        </li>
        <li>
            aREST sensor
        </li>
    </ul>
    </div>
</section>
  
</div>
        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://github.com/balloob/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
</div>
    </div>
  </div>
</div>
    </footer>

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

  </body>
</html>