cognitive_task:
  # This services allows you to interact with Claude 3. This multimodal LLM can answer questions about images.
  fields:
    prompt:
      required: true
      selector:
        text:
          multiline: true
    model_id:
      required: false
      selector:
        select:
          options:
            - "anthropic.claude-3-opus-20240229-v1:0"
            - "anthropic.claude-3-haiku-20240307-v1:0"
            - "anthropic.claude-3-sonnet-20240229-v1:0"
            - "amazon.titan-text-express-v1"
            - "amazon.titan-text-lite-v1"
            - "anthropic.claude-v2"
            - "anthropic.claude-v2:1"
            - "anthropic.claude-instant-v1"
            - "ai21.j2-mid-v1"
            - "ai21.j2-ultra-v1"
            - "cohere.command-text-v14"
            - "cohere.command-light-text-v14"
            - "cohere.command-r-v1:0"
            - "cohere.command-r-plus-v1:0"
            - "meta.llama2-13b-chat-v1"
            - "meta.llama2-70b-chat-v1"
            - "meta.llama3-8b-instruct-v1:0"
            - "meta.llama3-70b-instruct-v1:0"
            - "mistral.mistral-7b-instruct-v0:2"
            - "mistral.mixtral-8x7b-instruct-v0:1"
            - "mistral.mistral-large-2402-v1:0"
            - "mistral.mistral-small-2402-v1:0"
    image_filenames:
      required: false
      selector:
        object:
    image_urls:
      required: false
      selector:
        object:
