<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Components - Home Assistant</title>
    <meta name="author" content="Paulus Schoutsen">
    <meta name="description" content="List of the built-in components of Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Components">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="List of the built-in components of Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="Components">
    <meta name="twitter:description" content="List of the built-in components of Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body  id="components-page">

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/images/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li>
    <a href="/getting-started/">Getting started</a>
    <ul>
      <li><a href='/getting-started/'>Installing Home Assistant</a></li>
      <li><a href='/getting-started/configuration/'>Configuration basics</a></li>
      <li><a href='/getting-started/devices/'>Adding devices</a></li>
      <li><a href='/getting-started/presence-detection/'>Presence detection</a></li>
      <li><a href='/getting-started/automation/'>Automation</a></li>
      <li><a href='/cookbook'>Configuration cookbook</a></li>
    </ul>
  </li>
  <li><a href='/components/'>Components</a></li>
  <li>
    <a href="/developers/">Developers</a>
    <ul>
      <li><a href="/developers/architecture/">Architecture</a></li>
      <li><a href="/developers/frontend/">Frontend development</a></li>
      <li><a href="/developers/creating_components/">
        Creating components
      </a></li>
      <li><a href="/developers/add_new_platform/">
        Adding platform support
      </a></li>
      <li><a href="/developers/api/">API</a></li>
      <li><a href="/developers/credits/">Credits</a></li>
    </ul>
  </li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item one-whole">
        

          <article class="page">

  
  <header>
    <h1 class="title indent">
      Components
    </h1>
  </header>
  <hr class="divider">
  

  <p class='note'>
Support for these components is provided by the Home Assistant community.
</p>




<div class="filter-button-group">
  <a href='#all' class="btn">All</a>
  <a href='#featured' class="btn">Featured</a>

  
    
  
    
      <a href='#alarm' class="btn">Alarm</a>
    
  
    
      <a href='#automation' class="btn">Automation</a>
    
  
    
      <a href='#binary-sensor' class="btn">Binary Sensor</a>
    
  
    
      <a href='#camera' class="btn">Camera</a>
    
  
    
      <a href='#diy' class="btn">DIY</a>
    
  
    
      <a href='#history' class="btn">History</a>
    
  
    
      <a href='#hub' class="btn">Hub</a>
    
  
    
      <a href='#light' class="btn">Light</a>
    
  
    
      <a href='#lock' class="btn">Lock</a>
    
  
    
      <a href='#media-player' class="btn">Media Player</a>
    
  
    
      <a href='#notifications' class="btn">Notifications</a>
    
  
    
      <a href='#organization' class="btn">Organization</a>
    
  
    
  
    
      <a href='#presence-detection' class="btn">Presence Detection</a>
    
  
    
      <a href='#rollershutter' class="btn">Rollershutter</a>
    
  
    
      <a href='#sensor' class="btn">Sensor</a>
    
  
    
      <a href='#switch' class="btn">Switch</a>
    
  
    
      <a href='#thermostat' class="btn">Thermostat</a>
    
  
    
      <a href='#voice' class="btn">Voice</a>
    
  
    
      <a href='#weather' class="btn">Weather</a>
    
  

  <a href='#other' class="btn">Other</a>
</div>

<div id="componentContainer">
  
    
      <a href='/components/device_tracker.asuswrt/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/asus.png'>
          
        </div>
        <div class='title'>ASUSWRT</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/device_tracker.actiontec/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/actiontec.png'>
          
        </div>
        <div class='title'>Actiontec</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
  
    
      <a href='/components/alexa/' class='voice'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/amazon-echo.png'>
          
        </div>
        <div class='title'>Alexa / Amazon Echo</div>
        <div class='category'>Voice</div>
      </a>
    
  
    
      <a href='/components/arduino/' class='diy featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/arduino.png'>
          
        </div>
        <div class='title'>Arduino</div>
        <div class='category'>DIY</div>
      </a>
    
  
    
      <a href='/components/sensor.arduino/' class='diy'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/arduino.png'>
          
        </div>
        <div class='title'>Arduino sensor</div>
        <div class='category'>DIY</div>
      </a>
    
  
    
      <a href='/components/switch.arduino/' class='diy'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/arduino.png'>
          
        </div>
        <div class='title'>Arduino switch</div>
        <div class='category'>DIY</div>
      </a>
    
  
    
      <a href='/components/device_tracker.aruba/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/aruba.png'>
          
        </div>
        <div class='title'>Aruba</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/automation/' class='automation'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Automation</div>
        <div class='category'>Automation</div>
      </a>
    
  
    
      <a href='/components/switch.wemo/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/belkin_wemo.png'>
          
        </div>
        <div class='title'>Belkin WeMo switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
  
    
      <a href='/components/sensor.bitcoin/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/bitcoin.png'>
          
        </div>
        <div class='title'>Bitcoin</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/light.blinksticklight/' class='light'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/blinkstick.png'>
          
        </div>
        <div class='title'>Blinkstick</div>
        <div class='category'>Light</div>
      </a>
    
  
    
      <a href='/components/browser/' class='other'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Browser</div>
        <div class='category'>Other</div>
      </a>
    
  
    
      <a href='/components/sensor.cpuspeed/' class='sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>CPU speed</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
  
    
      <a href='/components/sensor.command_sensor/' class='sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Command line sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.command_switch/' class='switch'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Command line switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/configurator/' class='other'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Configurator</div>
        <div class='category'>Other</div>
      </a>
    
  
    
      <a href='/components/conversation/' class='other'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Conversation</div>
        <div class='category'>Other</div>
      </a>
    
  
    
      <a href='/components/device_tracker.ddwrt/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/ddwrt.png'>
          
        </div>
        <div class='title'>DD-WRT</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/sensor.dht/' class='diy'>
        <div class='img-container'>
          
        </div>
        <div class='title'>DHT sensor</div>
        <div class='category'>DIY</div>
      </a>
    
  
    
      <a href='/components/media_player.denon/' class='media-player'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/denon.png'>
          
        </div>
        <div class='title'>Denon Network Receivers</div>
        <div class='category'>Media Player</div>
      </a>
    
  
    
  
    
      <a href='/components/discovery/' class='other'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Discovery</div>
        <div class='category'>Other</div>
      </a>
    
  
    
      <a href='/components/downloader/' class='other'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Downloader</div>
        <div class='category'>Other</div>
      </a>
    
  
    
      <a href='/components/sensor.dweet/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/dweet.png'>
          
        </div>
        <div class='title'>Dweet.io sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/ecobee/' class='hub'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/ecobee.png'>
          
        </div>
        <div class='title'>Ecobee</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/sensor.ecobee/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/ecobee.png'>
          
        </div>
        <div class='title'>Ecobee sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/thermostat.ecobee/' class='thermostat'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/ecobee.png'>
          
        </div>
        <div class='title'>Ecobee thermostat</div>
        <div class='category'>Thermostat</div>
      </a>
    
  
    
      <a href='/components/switch.edimax/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/edimax.png'>
          
        </div>
        <div class='title'>Edimax switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/sensor.efergy/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/efergy.png'>
          
        </div>
        <div class='title'>Efergy sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/sensor.eliqonline/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/eliq.png'>
          
        </div>
        <div class='title'>Eliqonline sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/device_tracker.fritz/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/avm.png'>
          
        </div>
        <div class='title'>FRITZ!Box</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/notify.file/' class='notifications'>
        <div class='img-container'>
          
        </div>
        <div class='title'>File</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/media_player.firetv/' class='media-player'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/firetv.png'>
          
        </div>
        <div class='title'>FireTV</div>
        <div class='category'>Media Player</div>
      </a>
    
  
    
      <a href='/components/sensor.forecast/' class='weather featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/forecast.png'>
          
        </div>
        <div class='title'>Forecast.io</div>
        <div class='category'>Weather</div>
      </a>
    
  
    
      <a href='/components/camera.foscam/' class='camera'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/foscam.png'>
          
        </div>
        <div class='title'>Foscam IP camera</div>
        <div class='category'>Camera</div>
      </a>
    
  
    
      <a href='/components/camera.generic/' class='camera'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Generic IP Camera</div>
        <div class='category'>Camera</div>
      </a>
    
  
    
      <a href='/components/camera.mjpeg/' class='camera'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Generic MJPEG IP Camera</div>
        <div class='category'>Camera</div>
      </a>
    
  
    
      <a href='/components/device_tracker.geofancy/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/geofancy.png'>
          
        </div>
        <div class='title'>Geofancy</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/sensor.glances/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/glances.png'>
          
        </div>
        <div class='title'>Glances</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/media_player.cast/' class='media-player featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/google_cast.png'>
          
        </div>
        <div class='title'>Google Cast</div>
        <div class='category'>Media Player</div>
      </a>
    
  
    
      <a href='/components/group/' class='organization'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Group</div>
        <div class='category'>Organization</div>
      </a>
    
  
    
      <a href='/components/http/' class='other'>
        <div class='img-container'>
          
        </div>
        <div class='title'>HTTP</div>
        <div class='category'>Other</div>
      </a>
    
  
    
      <a href='/components/thermostat.heat_control/' class='thermostat'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Heat control</div>
        <div class='category'>Thermostat</div>
      </a>
    
  
    
      <a href='/components/thermostat.heatmiser/' class='thermostat'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/heatmiser.png'>
          
        </div>
        <div class='title'>Heatmiser thermostat</div>
        <div class='category'>Thermostat</div>
      </a>
    
  
    
      <a href='/components/switch.hikvision/' class='camera'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/hikvision.png'>
          
        </div>
        <div class='title'>Hikvision camera</div>
        <div class='category'>Camera</div>
      </a>
    
  
    
      <a href='/components/history/' class='history'>
        <div class='img-container'>
          
        </div>
        <div class='title'>History</div>
        <div class='category'>History</div>
      </a>
    
  
    
      <a href='/components/thermostat.homematic/' class='thermostat'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/homematic.png'>
          
        </div>
        <div class='title'>Homematic thermostat</div>
        <div class='category'>Thermostat</div>
      </a>
    
  
    
      <a href='/components/thermostat.honeywell/' class='thermostat'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/honeywell.png'>
          
        </div>
        <div class='title'>Honeywell thermostat</div>
        <div class='category'>Thermostat</div>
      </a>
    
  
    
      <a href='/components/light.hyperion/' class='light'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Hyperion</div>
        <div class='category'>Light</div>
      </a>
    
  
    
      <a href='/components/ifttt/' class='automation featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/ifttt.png'>
          
        </div>
        <div class='title'>IFTTT</div>
        <div class='category'>Automation</div>
      </a>
    
  
    
      <a href='/components/isy994/' class='hub'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/universal_devices.png'>
          
        </div>
        <div class='title'>ISY994 Controller</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/influxdb/' class='history'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/influxdb.png'>
          
        </div>
        <div class='title'>InfluxDB</div>
        <div class='category'>History</div>
      </a>
    
  
    
      <a href='/components/notify.instapush/' class='notifications'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/instapush.png'>
          
        </div>
        <div class='title'>Instapush</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/introduction/' class='other'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Introduction</div>
        <div class='category'>Other</div>
      </a>
    
  
    
      <a href='/components/simple_alarm/' class='alarm'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Intruder Alerts</div>
        <div class='category'>Alarm</div>
      </a>
    
  
    
      <a href='/components/notify.xmpp/' class='notifications'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/xmpp.png'>
          
        </div>
        <div class='title'>Jabber (XMPP)</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/keyboard/' class='automation'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Keyboard</div>
        <div class='category'>Automation</div>
      </a>
    
  
    
      <a href='/components/media_player.kodi/' class='media-player featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/kodi.png'>
          
        </div>
        <div class='title'>Kodi</div>
        <div class='category'>Media Player</div>
      </a>
    
  
    
  
    
      <a href='/components/light.limitlessled/' class='light'>
        <div class='img-container'>
          
        </div>
        <div class='title'>LimitlessLED support</div>
        <div class='category'>Light</div>
      </a>
    
  
    
  
    
      <a href='/components/logbook/' class='history'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Logbook</div>
        <div class='category'>History</div>
      </a>
    
  
    
      <a href='/components/logger/' class='other'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Logger</div>
        <div class='category'>Other</div>
      </a>
    
  
    
      <a href='/components/media_player.squeezebox/' class='media-player'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/logitech.png'>
          
        </div>
        <div class='title'>Logitech Squeezebox</div>
        <div class='category'>Media Player</div>
      </a>
    
  
    
      <a href='/components/mqtt/' class='hub featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mqtt.png'>
          
        </div>
        <div class='title'>MQTT</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/alarm_control_panel.mqtt/' class='alarm'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mqtt.png'>
          
        </div>
        <div class='title'>MQTT Alarm Control Panel</div>
        <div class='category'>Alarm</div>
      </a>
    
  
    
      <a href='/components/rollershutter.mqtt/' class='rollershutter'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mqtt.png'>
          
        </div>
        <div class='title'>MQTT Rollershutter</div>
        <div class='category'>Rollershutter</div>
      </a>
    
  
    
      <a href='/components/binary_sensor.mqtt/' class='binary-sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mqtt.png'>
          
        </div>
        <div class='title'>MQTT binary sensor</div>
        <div class='category'>Binary Sensor</div>
      </a>
    
  
    
      <a href='/components/device_tracker.mqtt/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mqtt.png'>
          
        </div>
        <div class='title'>MQTT device tracker</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/light.mqtt/' class='light'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mqtt.png'>
          
        </div>
        <div class='title'>MQTT light</div>
        <div class='category'>Light</div>
      </a>
    
  
    
      <a href='/components/sensor.mqtt/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mqtt.png'>
          
        </div>
        <div class='title'>MQTT sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.mqtt/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mqtt.png'>
          
        </div>
        <div class='title'>MQTT switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/alarm_control_panel.manual/' class='alarm'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Manual Alarm Control Panel</div>
        <div class='category'>Alarm</div>
      </a>
    
  
    
      <a href='/components/ifttt.manything/' class='camera'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/manything.png'>
          
        </div>
        <div class='title'>ManyThing</div>
        <div class='category'>Camera</div>
      </a>
    
  
    
  
    
      <a href='/components/modbus/' class='hub'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/modbus.png'>
          
        </div>
        <div class='title'>Modbus</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/sensor.modbus/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/modbus.png'>
          
        </div>
        <div class='title'>Modbus sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.modbus/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/modbus.png'>
          
        </div>
        <div class='title'>Modbus switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/media_player.mpd/' class='media-player'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mpd.png'>
          
        </div>
        <div class='title'>Music Player Daemon (MPD)</div>
        <div class='category'>Media Player</div>
      </a>
    
  
    
      <a href='/components/sensor.mysensors/' class='sensor featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mysensors.png'>
          
        </div>
        <div class='title'>MySensors sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/thermostat.nest/' class='thermostat featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/nest_thermostat.png'>
          
        </div>
        <div class='title'>Nest thermostat</div>
        <div class='category'>Thermostat</div>
      </a>
    
  
    
      <a href='/components/device_tracker.netgear/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/netgear.png'>
          
        </div>
        <div class='title'>Netgear</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/device_tracker.nmap_scanner/' class='presence-detection featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/nmap.png'>
          
        </div>
        <div class='title'>Nmap</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
  
    
      <a href='/components/notify.nma/' class='notifications'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/nma.png'>
          
        </div>
        <div class='title'>Notify My Android</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/device_tracker.luci/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/openwrt.png'>
          
        </div>
        <div class='title'>OpenWRT (luci)</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/device_tracker.ubus/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/openwrt.png'>
          
        </div>
        <div class='title'>OpenWRT (ubus)</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/sensor.openweathermap/' class='weather'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/openweathermap.png'>
          
        </div>
        <div class='title'>OpenWeatherMap</div>
        <div class='category'>Weather</div>
      </a>
    
  
    
      <a href='/components/switch.orvibo/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/orvibo.png'>
          
        </div>
        <div class='title'>Orvibo switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/device_tracker.owntracks/' class='presence-detection featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/owntracks.png'>
          
        </div>
        <div class='title'>Owntracks</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/light.hue/' class='light featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/philips_hue.png'>
          
        </div>
        <div class='title'>Philips Hue</div>
        <div class='category'>Light</div>
      </a>
    
  
    
      <a href='/components/media_player.plex/' class='media-player featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/plex.png'>
          
        </div>
        <div class='title'>Plex</div>
        <div class='category'>Media Player</div>
      </a>
    
  
    
      <a href='/components/device_sun_light_trigger/' class='automation'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Presence based lights</div>
        <div class='category'>Automation</div>
      </a>
    
  
    
      <a href='/components/notify.pushbullet/' class='notifications featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/pushbullet.png'>
          
        </div>
        <div class='title'>PushBullet</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/notify.pushover/' class='notifications'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/pushover.png'>
          
        </div>
        <div class='title'>PushOver</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/notify.pushetta/' class='notifications'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/pushetta.png'>
          
        </div>
        <div class='title'>Pushetta</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/binary_sensor.rest/' class='binary-sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>RESTful binary sensor</div>
        <div class='category'>Binary Sensor</div>
      </a>
    
  
    
      <a href='/components/sensor.rest/' class='sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>RESTful sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.rest/' class='switch'>
        <div class='img-container'>
          
        </div>
        <div class='title'>RESTful switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/rfxtrx/' class='hub'>
        <div class='img-container'>
          
        </div>
        <div class='title'>RFXtrx</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/light.rfxtrx/' class='light'>
        <div class='img-container'>
          
        </div>
        <div class='title'>RFXtrx light</div>
        <div class='category'>Light</div>
      </a>
    
  
    
      <a href='/components/sensor.rfxtrx/' class='sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>RFXtrx sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.rfxtrx/' class='switch'>
        <div class='img-container'>
          
        </div>
        <div class='title'>RFXtrx switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/thermostat.radiotherm/' class='thermostat'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/radiotherm.png'>
          
        </div>
        <div class='title'>Radiotherm thermostat</div>
        <div class='category'>Thermostat</div>
      </a>
    
  
    
      <a href='/components/sensor.rpi_gpio/' class='diy'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/raspberry-pi.png'>
          
        </div>
        <div class='title'>Raspberry PI GPIO sensor</div>
        <div class='category'>DIY</div>
      </a>
    
  
    
      <a href='/components/switch.rpi_gpio/' class='diy'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/raspberry-pi.png'>
          
        </div>
        <div class='title'>Raspberry PI GPIO switch</div>
        <div class='category'>DIY</div>
      </a>
    
  
    
  
    
      <a href='/components/sensor.sabnzbd/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/sabnzbd.png'>
          
        </div>
        <div class='title'>SABnzbd</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/notify.smtp/' class='notifications'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/smtp.png'>
          
        </div>
        <div class='title'>SMTP</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/device_tracker.snmp/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/network-snmp.png'>
          
        </div>
        <div class='title'>SNMP</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/scene/' class='organization'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Scenes</div>
        <div class='category'>Organization</div>
      </a>
    
  
    
      <a href='/components/script/' class='automation'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Scripts</div>
        <div class='category'>Automation</div>
      </a>
    
  
    
  
    
      <a href='/components/shell_command/' class='automation'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Shell command</div>
        <div class='category'>Automation</div>
      </a>
    
  
    
      <a href='/components/notify.slack/' class='notifications'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/slack.png'>
          
        </div>
        <div class='title'>Slack</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/media_player.sonos/' class='media-player featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/sonos.png'>
          
        </div>
        <div class='title'>Sonos</div>
        <div class='category'>Media Player</div>
      </a>
    
  
    
      <a href='/components/sun/' class='weather'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Sun</div>
        <div class='category'>Weather</div>
      </a>
    
  
    
      <a href='/components/sensor.swiss_public_transport/' class='sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Swiss Public Transport</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
  
    
      <a href='/components/notify.syslog/' class='notifications'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Syslog</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/sensor.systemmonitor/' class='sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>System Monitor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/sensor.temper/' class='sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>TEMPer sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/device_tracker.tplink/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/tp-link.png'>
          
        </div>
        <div class='title'>TP-Link</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/notify.telegram/' class='notifications'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/telegram.png'>
          
        </div>
        <div class='title'>Telegram</div>
        <div class='category'>Notifications</div>
      </a>
    
  
    
      <a href='/components/tellstick/' class='hub'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/telldus_tellstick.png'>
          
        </div>
        <div class='title'>TellStick</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/light.tellstick/' class='light'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/telldus_tellstick.png'>
          
        </div>
        <div class='title'>TellStick light</div>
        <div class='category'>Light</div>
      </a>
    
  
    
      <a href='/components/sensor.tellstick/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/telldus_tellstick.png'>
          
        </div>
        <div class='title'>TellStick sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.tellstick/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/telldus_tellstick.png'>
          
        </div>
        <div class='title'>TellStick switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
  
    
      <a href='/components/device_tracker.thomson/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/technicolor.png'>
          
        </div>
        <div class='title'>Thomson</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/sensor.time_date/' class='sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Time & Date</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/device_tracker.tomato/' class='presence-detection'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Tomato</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/sensor.transmission/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/transmission.png'>
          
        </div>
        <div class='title'>Transmission sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.transmission/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/transmission.png'>
          
        </div>
        <div class='title'>Transmission switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/sensor.twitch/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/twitch.png'>
          
        </div>
        <div class='title'>Twitch sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/updater/' class='other'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Updater</div>
        <div class='category'>Other</div>
      </a>
    
  
    
      <a href='/components/vera/' class='hub'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/vera.png'>
          
        </div>
        <div class='title'>Vera</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/light.vera/' class='light'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/vera.png'>
          
        </div>
        <div class='title'>Vera light</div>
        <div class='category'>Light</div>
      </a>
    
  
    
      <a href='/components/sensor.vera/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/vera.png'>
          
        </div>
        <div class='title'>Vera sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.vera/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/vera.png'>
          
        </div>
        <div class='title'>Vera switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/verisure/' class='hub'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/verisure.png'>
          
        </div>
        <div class='title'>Verisure</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/wink/' class='hub featured'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/wink.png'>
          
        </div>
        <div class='title'>Wink</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/light.wink/' class='light'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/wink.png'>
          
        </div>
        <div class='title'>Wink light</div>
        <div class='category'>Light</div>
      </a>
    
  
    
      <a href='/components/lock.wink/' class='lock'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/wink.png'>
          
        </div>
        <div class='title'>Wink lock</div>
        <div class='category'>Lock</div>
      </a>
    
  
    
      <a href='/components/sensor.wink/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/wink.png'>
          
        </div>
        <div class='title'>Wink sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.wink/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/wink.png'>
          
        </div>
        <div class='title'>Wink switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/sensor.worldclock/' class='sensor'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Worldclock</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/zwave/' class='hub'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/z-wave.png'>
          
        </div>
        <div class='title'>Z-Wave</div>
        <div class='category'>Hub</div>
      </a>
    
  
    
      <a href='/components/light.zwave/' class='light'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/z-wave.png'>
          
        </div>
        <div class='title'>Z-Wave light</div>
        <div class='category'>Light</div>
      </a>
    
  
    
      <a href='/components/sensor.zwave/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/z-wave.png'>
          
        </div>
        <div class='title'>Z-Wave sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.zwave/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/z-wave.png'>
          
        </div>
        <div class='title'>Z-Wave switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/zone/' class='organization'>
        <div class='img-container'>
          
        </div>
        <div class='title'>Zone</div>
        <div class='category'>Organization</div>
      </a>
    
  
    
      <a href='/components/binary_sensor.arest/' class='binary-sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/arest.png'>
          
        </div>
        <div class='title'>aREST binary sensor</div>
        <div class='category'>Binary Sensor</div>
      </a>
    
  
    
      <a href='/components/sensor.arest/' class='sensor'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/arest.png'>
          
        </div>
        <div class='title'>aREST sensor</div>
        <div class='category'>Sensor</div>
      </a>
    
  
    
      <a href='/components/switch.arest/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/arest.png'>
          
        </div>
        <div class='title'>aREST switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
    
      <a href='/components/device_tracker.icloud/' class='presence-detection'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/icloud.png'>
          
        </div>
        <div class='title'>iCloud</div>
        <div class='category'>Presence Detection</div>
      </a>
    
  
    
      <a href='/components/media_player.itunes/' class='media-player'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/itunes.png'>
          
        </div>
        <div class='title'>iTunes</div>
        <div class='category'>Media Player</div>
      </a>
    
  
    
      <a href='/components/switch.mystrom/' class='switch'>
        <div class='img-container'>
          
            <img src='/images/supported_brands/mystrom.png'>
          
        </div>
        <div class='title'>myStrom switch</div>
        <div class='category'>Switch</div>
      </a>
    
  
</div>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
<script type="text/javascript">
$(window).load(function(){
  var $container = $('#componentContainer');

  function updateHash(newHash) {
    if ('replaceState' in history) {
      history.replaceState('', '', newHash);
    } else {
      location.hash = newHash;
    }
  }

  function applyFilter() {
    var hash = location.hash;

    var filter;
    if (hash == '') {
      filter = '.featured'
      hash = '#featured'
    } else if (hash == '#all') {
      filter = '*';
    } else {
      filter = '.' + hash.substr(1);
    }

    $('.filter-button-group a.current').removeClass('current');
    $('.filter-button-group a[href='+hash+']').addClass('current');

    $container.isotope({
        filter: filter,
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        },
        masonry: {
          columnWidth: 210
        }
     });
  }

  jQuery('.filter-button-group a').click(function() {
    updateHash(this.getAttribute('href'));
    applyFilter();

    return false;
  });

  window.addEventListener('hashchange', applyFilter);

  applyFilter();
});
</script>


</article>


        </div>

        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://github.com/balloob/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
</div>
    </div>
  </div>
</div>
    </footer>

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

  </body>
</html>