<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  
    
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Components - Home Assistant</title>
    <meta name="author" content="Paulus Schoutsen">
    
    <meta name="description" content="List of the built-in components of Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io">
    
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Components">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="List of the built-in components of Home Assistant.">
    
    
    
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
</head>


  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/images/favicon-192x192.png'> Home Assistant
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li>
    <a href="/getting-started/">Getting started</a>
    <ul>
      <li><a href='/getting-started/'>Installing Home Assistant</a></li>
      <li><a href='/getting-started/configuration.html'>Initial configuration</a></li>
      <li><a href='/components/'>Component overview</a></li>
      <li><a href='/getting-started/android.html'>Setting up Android</a></li>
    </ul>
  </li>
  <li>
    <a href="/developers/">Developers</a>
    <ul>
      <li><a href="/developers/architecture.html">Architecture</a></li>
      <li><a href="/developers/frontend.html">Frontend development</a></li>
      <li><a href="/developers/creating_components.html">
        Creating components
      </a></li>
      <li><a href="/developers/add_new_platform.html">
        Adding platform support
      </a></li>
      <li><a href="/developers/api.html">Rest API</a></li>
    </ul>
  </li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="https://groups.google.com/forum/#!forum/home-assistant-dev">Need help?</a></li>
</ul>
  </nav>
</div>


  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item one-whole">
        

          <article class="page">

  
  <header>
    <h1 class="title indent">
      Components
    </h1>
  </header>
  <hr class="divider">
  

  <p>Components add support for devices, automation and much much more to Home Assistant. The following things are supported out-of-the-box.</p>

<h2><a class='title-link' name='entities' href='#entities'></a> Entities</h2>

<p>Entities are things that you want to observe within Home Assistant. Support for these things are provided by the entity components <a href="/components/light.html">Light</a>, <a href="/components/switch.html">Switch</a>, <a href="/components/thermostat.html">Thermostat</a>, <a href="/components/media_player.html">Media player</a>, <a href="/components/device_tracker.html">Device tracker</a>, <a href="/components/sun.html">Sun</a>.</p>

<table>
<tr>
<th colspan='2'>Type</th>
<th>Description</th>
</tr>

<tr>
  <td><a href='/components/light.hue.html'><img src='/images/supported_brands/philips_hue.png' class='brand overview' /></a></td>
  <td><a href='/components/light.hue.html'>Philips Hue</a></td>
  <td>Turn lights on, control brightness and color.</td>
</tr>

<tr>
  <td><a href='/components/sensor.sabnzbd.html'><img src='/images/supported_brands/sabnzbd.png' class='brand overview' /></a></td>
  <td><a href='/components/sensor.sabnzbd.html'>SABnzbd clients</a></td>
  <td>Monitor queue and download speeds</td>
</tr>

<tr>
  <td></td>
  <td><a href='/components/sensor.systemmonitor.html'>System Monitor</a></td>
  <td>Track CPU, memory and disk usage on the host machine.</td>
</tr>

<tr>
  <td><a href='/components/thermostat.nest.html'><img src='/images/supported_brands/nest_thermostat.png' class='brand overview' /></a></td>
  <td><a href='/components/thermostat.nest.html'>Nest thermostats</a></td>
  <td>See current temperature and control target temperature and away mode.</td>
</tr>

<tr>
  <td></td>
  <td><a href='/components/thermostat.heat_control.html'>Heat Control</a></td>
  <td>Turn home Assistant into your own thermostat by reading a temperature sensor and controlling a switch connected to a heater.</td>
</tr>

<tr>
  <td><a href='/components/switch.wemo.html'><img src='/images/supported_brands/belkin_wemo.png' class='brand overview' /></a></td>
  <td><a href='/components/switch.wemo.html'>WeMo switches</a></td>
  <td>Control WeMo switches and read the usage statistics from Insight switches.</td>
</tr>

<tr>
  <td><a href='/components/device_tracker.luci.html'><img src='/images/supported_brands/openwrt.png' class='brand overview' /></a></td>
  <td><a href='/components/device_tracker.luci.html'>OpenWRT routers</a></td>
  <td>Offers presence detection by looking at connected devices.</td>
</tr>

<tr>
  <td><a href='/components/device_tracker.netgear.html'><img src='/images/supported_brands/netgear.png' class='brand overview' /></a></td>
  <td><a href='/components/device_tracker.netgear.html'>Netgear routers</a></td>
  <td>Offers presence detection by looking at connected devices.</td>
</tr>

<tr>
  <td></td>
  <td><a href='/components/device_tracker.tomato.html'>Tomato routers</a></td>
  <td>Offers presence detection by looking at connected devices.</td>
</tr>

<tr>
  <td></td>
  <td><a href='/components/device_tracker.nmap_scanner.html'>NMap network scanning</a></td>
  <td>Offers presence detection by scanning the network for connected devices.</td>
</tr>

<tr>
  <td><a href='/components/sensor.transmission.html'><img src='/images/supported_brands/transmission.png' class='brand overview' /></a></td>
  <td><a href='/components/sensor.transmission.html'>Transmission</a></td>
  <td>Monitor status and download speeds.</td>
</tr>

<tr>
  <td><a href='/components/media_player.cast.html'><img src='/images/supported_brands/google_cast.png' class='brand overview' /></a></td>
  <td><a href='/components/media_player.cast.html'>Google Cast devices</a></td>
  <td>Track what is being played and control playback. (temporarely disabled awaiting protobuf 3 release)</td>
</tr>

<tr>
  <td><a href='/components/isy994.html'><img src='/images/supported_brands/insteon.png' class='brand overview' /></a></td>
  <td><a href='/components/isy994.html'>Insteon Devices</a></td>
  <td>Insteon devices can be controlled with the ISY994 controller.</td>
</tr>

<tr>
  <td><a href='/components/isy994.html'><img src='/images/supported_brands/x10.gif' class='brand overview' /></a></td>
  <td><a href='/components/isy994.html'>X10 Devices</a></td>
  <td>X10 devices can be controlled with the ISY994 controller.</td>
</tr>

</table>




<p class='note'>
Support for these devices is provided by the Home Assistant community and not
the manufacturers of these devices.
</p>


<h2><a class='title-link' name='organization' href='#organization'></a> Organization</h2>

<table>
<thead>
<tr>
<th> Type </th>
<th> Description</th>
</tr>
</thead>
<tbody>
<tr>
<td> <a href="/components/group.html">Group</a> </td>
<td> Allows grouping of entities</td>
</tr>
<tr>
<td> <a href="/components/scene.html">Scene</a> </td>
<td> Allow defining preferred state of a set of entities</td>
</tr>
</tbody>
</table>


<h2><a class='title-link' name='hubs' href='#hubs'></a> Hubs</h2>

<p>Home Assistant integrates with a variety of third party Home Automation hubs and networks. It allows you to control the connected switches, lights and sensors via Home Assistant. Click on the following logo&rsquo;s for setup instructions:</p>

<p><a href="/components/zwave.html"><img src='/images/supported_brands/z-wave.png' class='brand' /></a>
<a href="/components/tellstick.html"><img src='/images/supported_brands/telldus_tellstick.png' class='brand' /></a>
<a href="/components/vera.html"><img src='/images/supported_brands/vera.png' class='brand' /></a>
<a href="/components/wink.html"><img src='/images/supported_brands/wink.png' class='brand' /></a>
<a href="/components/isy994.html"><img src='/images/supported_brands/universal_devices.png' class='brand' /></a>
<a href="/components/modbus.html"><img src='/images/supported_brands/modbus.png' class='brand' /></a></p>

<p class='note'>
Support for these devices is provided by the Home Assistant community and not
the manufacturers of these devices.
</p>


<h2><a class='title-link' name='services' href='#services'></a> Services</h2>

<table>
<tr>
<td></td>
<td><a href='/components/history.html'>History</a></td>
<td>Track the state of entities and allow users to browse through history.</td>
</tr>

<tr>
<td></td>
<td><a href='/components/conversation.html'>Conversation</a></td>
<td>Process textual commands like ones received by speech-to-text engines.</td>
</tr>

<tr>
<td></td>
<td><a href='/components/discovery.html'>Discovery</a></td>
<td>Scans the network for supported devices.</td>
</tr>

<tr>
<td></td>
<td><a href='/components/logbook.html'>Logbook</a></td>
<td>Provides a logbook-style view on the Entity history.</td>
</tr>

<tr>
<td><img src='/images/supported_brands/nma.png' class='brand' /></td>
<td><a href='/components/notify.nma.html'>Notify My Android (NMA)</a></td>
<td>Allow sending messages using Notify My Android (NMA)</td>
</tr>

<tr>
<td><img src='/images/supported_brands/instapush.png' class='brand' /></td>
<td><a href='/components/notify.instapush.html'>Instapush</a></td>
<td>Allow sending messages using Instapush</td>
</tr>

<tr>
<td><img src='/images/supported_brands/pushbullet.png' class='brand' /></td>
<td><a href='/components/notify.pushbullet.html'>PushBullet</a></td>
<td>Allow sending messages using PushBullet</td>
</tr>

<tr>
<td><img src='/images/supported_brands/pushover.png' class='brand' /></td>
<td><a href='/components/notify.pushover.html'>PushOver</a></td>
<td>Allow sending messages using PushOver</td>
</tr>

<tr>
<td></td>
<td><a href='/components/browser.html'>Browser</a></td>
<td>Open URLs on the host machine</td>
</tr>

<tr>
<td></td>
<td><a href='/components/downloader.html'>Downloader</a></td>
<td>Allows downloading URLs to the host machine.</td>
</tr>

<tr>
<td></td>
<td><a href='/components/keyboard.html'>Keyboard</a></td>
<td>Simulate key presses on the host machine</td>
</tr>

<tr>
<td><img src='/images/supported_brands/openweathermap.png' class='brand' /></td>
<td><a href='/components/openweathermap.html'>OpenWeatherMap</a></td>
<td>Display current meteorological data from your location</td>
</tr>
</table>




<p class='note'>
Support for these services is provided by the Home Assistant community and not
the service providers.
</p>


<h2><a class='title-link' name='automation' href='#automation'></a> Automation</h2>

<table>
<thead>
<tr>
<th> Type </th>
<th> Description</th>
</tr>
</thead>
<tbody>
<tr>
<td> <a href="/components/automation.html">Automation</a> </td>
<td> Allow for automating service calls when a specific state is met</td>
</tr>
<tr>
<td> <a href="/components/scheduler.html">Scheduler</a> </td>
<td> Allows for scheduling service calls when sun sets or it is specific time</td>
</tr>
<tr>
<td> <a href="/components/script.html">Script</a> </td>
<td> Allow user to define scripts to run from within Home Assistant</td>
</tr>
<tr>
<td> <a href="/components/device_sun_light_trigger.html">Device sun light trigger</a> </td>
<td> Slowly fade in the lights to compensate the setting sun. Also turns on lights when you get home after dark.</td>
</tr>
<tr>
<td> <a href="/components/simple_alarm.html">Simple alarm</a> </td>
<td> Let the lights blink red when the lights turn on while no one is home.</td>
</tr>
</tbody>
</table>


<h2><a class='title-link' name='misc' href='#misc'></a> Misc</h2>

<table>
<thead>
<tr>
<th> Type </th>
<th> Description</th>
</tr>
</thead>
<tbody>
<tr>
<td> <a href="/components/configurator.html">Configurator</a> </td>
<td> Component used by other components to get configuration from the user.</td>
</tr>
</tbody>
</table>



</article>


        </div>

        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <p class="copyright">
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a>, <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>. Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.</span>
</p>
    </div>
  </div>
</div>

    </footer>

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    


<script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>






  </body>
</html>