<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  
    
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>aREST support - Home Assistant</title>
    <meta name="author" content="Paulus Schoutsen">
    
    <meta name="description" content="Instructions how to integrate aREST sensors within Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/sensor.arest.html">
    
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="aREST support">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/sensor.arest.html/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Instructions how to integrate aREST sensors within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">
    
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
</head>


  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/images/favicon-192x192.png'> Home Assistant
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li>
    <a href="/getting-started/">Getting started</a>
    <ul>
      <li><a href='/getting-started/'>Installing Home Assistant</a></li>
      <li><a href='/getting-started/configuration.html'>Configuration basics</a></li>
      <li><a href='/getting-started/devices.html'>Adding devices</a></li>
      <li><a href='/getting-started/automation.html'>Automation</a></li>
      <li><a href='/components/'>Component overview</a></li>
    </ul>
  </li>
  <li>
    <a href="/developers/">Developers</a>
    <ul>
      <li><a href="/developers/architecture.html">Architecture</a></li>
      <li><a href="/developers/frontend.html">Frontend development</a></li>
      <li><a href="/developers/creating_components.html">
        Creating components
      </a></li>
      <li><a href="/developers/add_new_platform.html">
        Adding platform support
      </a></li>
      <li><a href="/developers/api.html">API</a></li>
      <li><a href="/developers/credits.html">Credits</a></li>
    </ul>
  </li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>

  </nav>
</div>


  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">

  
  <header>
    <h1 class="title indent">
      aREST Support
    </h1>
  </header>
  <hr class="divider">
  

  <p><img src='/images/supported_brands/arest.png' class='brand pull-right' />
The arest sensor platform allows you to get all data from your devices (like Arduinos with a ethernet/wifi connection, the ESP8266, and the Raspberry Pi) running the <a href="http://arest.io/">aREST</a> RESTful framework.</p>

<p>To use your aREST enabled device in your installation, add the following to your <code>configuration.yaml</code> file:</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
</pre></td><td class='code'><pre><code class='yaml'><span class='line'><span class="c1"># Example configuration.yaml entry</span>
</span><span class='line'><span class="l-Scalar-Plain">sensor</span><span class="p-Indicator">:</span>
</span><span class='line'>  <span class="l-Scalar-Plain">platform</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">arest</span>
</span><span class='line'>  <span class="l-Scalar-Plain">resource</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">http://IP_ADDRESS</span>
</span><span class='line'>  <span class="l-Scalar-Plain">monitored_variables</span><span class="p-Indicator">:</span>
</span><span class='line'>    <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">name</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">temperature</span>
</span><span class='line'>      <span class="l-Scalar-Plain">unit</span><span class="p-Indicator">:</span> <span class="s">&#39;°C&#39;</span>
</span><span class='line'>    <span class="p-Indicator">-</span> <span class="l-Scalar-Plain">name</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">humidity</span>
</span><span class='line'>      <span class="l-Scalar-Plain">unit</span><span class="p-Indicator">:</span> <span class="s">&#39;%&#39;</span>
</span></code></pre></td></tr></table></div></figure>


<p>Configuration variables:</p>

<ul>
<li><strong>resource</strong> (<em>Required</em>): IP address and schema of the device that is exposing an aREST API, e.g. <a href="http://192.168.1.10.">http://192.168.1.10.</a></li>
<li><strong>monitored_variables</strong> array:

<ul>
<li><strong>name</strong> (<em>Required</em>): The name of the variable you wish to monitor.</li>
<li><strong>unit</strong> (<em>Optional</em>): Defines the units of measurement of the sensor, if any.</li>
</ul>
</li>
</ul>


<p>The variables in the <code>monitored_variables</code> array must be available in the response of the device. As a starting point you find below a sketch for the Arduino device family. There are two variables (<code>temperature</code> and <code>humidity</code>) which will act as endpoints.</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
<span class='line-number'>22</span>
<span class='line-number'>23</span>
<span class='line-number'>24</span>
<span class='line-number'>25</span>
<span class='line-number'>26</span>
<span class='line-number'>27</span>
<span class='line-number'>28</span>
<span class='line-number'>29</span>
<span class='line-number'>30</span>
<span class='line-number'>31</span>
<span class='line-number'>32</span>
<span class='line-number'>33</span>
<span class='line-number'>34</span>
<span class='line-number'>35</span>
<span class='line-number'>36</span>
<span class='line-number'>37</span>
<span class='line-number'>38</span>
<span class='line-number'>39</span>
<span class='line-number'>40</span>
<span class='line-number'>41</span>
<span class='line-number'>42</span>
<span class='line-number'>43</span>
<span class='line-number'>44</span>
<span class='line-number'>45</span>
<span class='line-number'>46</span>
<span class='line-number'>47</span>
<span class='line-number'>48</span>
<span class='line-number'>49</span>
<span class='line-number'>50</span>
<span class='line-number'>51</span>
<span class='line-number'>52</span>
<span class='line-number'>53</span>
<span class='line-number'>54</span>
<span class='line-number'>55</span>
<span class='line-number'>56</span>
<span class='line-number'>57</span>
<span class='line-number'>58</span>
</pre></td><td class='code'><pre><code class='c'><span class='line'><span class="cm">/*</span>
</span><span class='line'><span class="cm">  This modified sketch is based on the Ethernet example of the aREST </span>
</span><span class='line'><span class="cm">  (http://arest.io/) library.</span>
</span><span class='line'><span class="cm">*/</span>
</span><span class='line'>
</span><span class='line'><span class="c1">// Libraries</span>
</span><span class='line'><span class="cp">#include &lt;SPI.h&gt;</span>
</span><span class='line'><span class="cp">#include &lt;Ethernet.h&gt;</span>
</span><span class='line'><span class="cp">#include &lt;aREST.h&gt;</span>
</span><span class='line'><span class="cp">#include &lt;avr/wdt.h&gt;</span>
</span><span class='line'>
</span><span class='line'><span class="c1">// Device settings</span>
</span><span class='line'><span class="kt">char</span><span class="o">*</span> <span class="n">deviceId</span> <span class="o">=</span> <span class="s">&quot;sensor02&quot;</span><span class="p">;</span>
</span><span class='line'><span class="kt">char</span><span class="o">*</span> <span class="n">deviceName</span> <span class="o">=</span> <span class="s">&quot;livingroom&quot;</span><span class="p">;</span>
</span><span class='line'><span class="n">byte</span> <span class="n">deviceMac</span><span class="p">[]</span> <span class="o">=</span> <span class="p">{</span> <span class="mh">0x20</span><span class="p">,</span> <span class="mh">0xD5</span><span class="p">,</span> <span class="mh">0xD3</span><span class="p">,</span> <span class="mh">0x03</span><span class="p">,</span> <span class="mh">0xFE</span><span class="p">,</span> <span class="mh">0x31</span> <span class="p">};</span>
</span><span class='line'><span class="n">IPAddress</span> <span class="nf">deviceIp</span><span class="p">(</span><span class="mi">192</span><span class="p">,</span> <span class="mi">168</span><span class="p">,</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">12</span><span class="p">);</span>
</span><span class='line'>
</span><span class='line'><span class="n">EthernetServer</span> <span class="nf">server</span><span class="p">(</span><span class="mi">80</span><span class="p">);</span>
</span><span class='line'><span class="n">aREST</span> <span class="n">rest</span> <span class="o">=</span> <span class="n">aREST</span><span class="p">();</span>
</span><span class='line'>
</span><span class='line'><span class="c1">// Variables to be exposed to the API</span>
</span><span class='line'><span class="kt">int</span> <span class="n">temperature</span><span class="p">;</span>
</span><span class='line'><span class="kt">int</span> <span class="n">humidity</span><span class="p">;</span>
</span><span class='line'>
</span><span class='line'><span class="kt">void</span> <span class="nf">setup</span><span class="p">(</span><span class="kt">void</span><span class="p">)</span> <span class="p">{</span>
</span><span class='line'>  <span class="n">Serial</span><span class="p">.</span><span class="n">begin</span><span class="p">(</span><span class="mi">57600</span><span class="p">);</span>
</span><span class='line'>
</span><span class='line'>  <span class="c1">// Init variables and expose them to REST API</span>
</span><span class='line'>  <span class="n">temperature</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
</span><span class='line'>  <span class="n">humidity</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
</span><span class='line'>
</span><span class='line'>  <span class="n">rest</span><span class="p">.</span><span class="n">variable</span><span class="p">(</span><span class="s">&quot;temperature&quot;</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">temperature</span><span class="p">);</span>
</span><span class='line'>  <span class="n">rest</span><span class="p">.</span><span class="n">variable</span><span class="p">(</span><span class="s">&quot;humidity&quot;</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">humidity</span><span class="p">);</span>
</span><span class='line'>
</span><span class='line'>  <span class="c1">// Give name and ID to device</span>
</span><span class='line'>  <span class="n">rest</span><span class="p">.</span><span class="n">set_id</span><span class="p">(</span><span class="n">deviceId</span><span class="p">);</span>
</span><span class='line'>  <span class="n">rest</span><span class="p">.</span><span class="n">set_name</span><span class="p">(</span><span class="n">deviceName</span><span class="p">);</span>
</span><span class='line'>
</span><span class='line'>  <span class="n">Ethernet</span><span class="p">.</span><span class="n">begin</span><span class="p">(</span><span class="n">deviceMac</span><span class="p">,</span> <span class="n">deviceIp</span><span class="p">);</span>
</span><span class='line'>
</span><span class='line'>  <span class="n">server</span><span class="p">.</span><span class="n">begin</span><span class="p">();</span>
</span><span class='line'>  <span class="n">Serial</span><span class="p">.</span><span class="n">print</span><span class="p">(</span><span class="s">&quot;Sensor is ready...&quot;</span><span class="p">);</span>
</span><span class='line'>
</span><span class='line'>  <span class="c1">// Start watchdog</span>
</span><span class='line'>  <span class="n">wdt_enable</span><span class="p">(</span><span class="n">WDTO_4S</span><span class="p">);</span>
</span><span class='line'><span class="p">}</span>
</span><span class='line'>
</span><span class='line'><span class="kt">void</span> <span class="nf">loop</span><span class="p">()</span> <span class="p">{</span>
</span><span class='line'>  <span class="n">EthernetClient</span> <span class="n">client</span> <span class="o">=</span> <span class="n">server</span><span class="p">.</span><span class="n">available</span><span class="p">();</span>
</span><span class='line'>  <span class="n">rest</span><span class="p">.</span><span class="n">handle</span><span class="p">(</span><span class="n">client</span><span class="p">);</span>
</span><span class='line'>  <span class="n">wdt_reset</span><span class="p">();</span>
</span><span class='line'>
</span><span class='line'>  <span class="c1">// Replace this with your actual sensor readings, like</span>
</span><span class='line'>  <span class="c1">// temperature = (((analogRead(A0) * 5.0) / 1024) - 0.5) * 10;</span>
</span><span class='line'>  <span class="n">temperature</span> <span class="o">=</span> <span class="n">random</span><span class="p">(</span><span class="mi">400</span><span class="p">);</span>
</span><span class='line'>  <span class="n">humidity</span> <span class="o">=</span> <span class="n">random</span><span class="p">(</span><span class="mi">600</span><span class="p">);</span>
</span><span class='line'>  <span class="n">delay</span><span class="p">(</span><span class="mi">500</span><span class="p">);</span>
</span><span class='line'><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure>


<p>Accessing one of the endpoints (eg. <a href="http://192.168.1.10/temperature">http://192.168.1.10/temperature</a>) will give you the value inside a JSON response.</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='json'><span class='line'><span class="p">{</span><span class="nt">&quot;temperature&quot;</span><span class="p">:</span> <span class="mi">23</span><span class="p">,</span> <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;sensor01&quot;</span><span class="p">,</span> <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;livingroom&quot;</span><span class="p">,</span> <span class="nt">&quot;connected&quot;</span><span class="p">:</span> <span class="kc">true</span><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure>


<p>The root will give you a JSON response that contains all variables and their current values along with some device details.</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
</pre></td><td class='code'><pre><code class='json'><span class='line'><span class="p">{</span>
</span><span class='line'>   <span class="nt">&quot;variables&quot;</span> <span class="p">:</span> <span class="p">{</span>
</span><span class='line'>      <span class="nt">&quot;temperature&quot;</span> <span class="p">:</span> <span class="mi">23</span><span class="p">,</span>
</span><span class='line'>      <span class="nt">&quot;humidity&quot;</span> <span class="p">:</span> <span class="mi">82</span>
</span><span class='line'>   <span class="p">},</span>
</span><span class='line'>   <span class="nt">&quot;id&quot;</span> <span class="p">:</span> <span class="s2">&quot;sensor01&quot;</span><span class="p">,</span>
</span><span class='line'>   <span class="nt">&quot;name&quot;</span> <span class="p">:</span> <span class="s2">&quot;livingroom&quot;</span><span class="p">,</span>
</span><span class='line'>   <span class="nt">&quot;connected&quot;</span> <span class="p">:</span> <span class="kc">true</span>
</span><span class='line'><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure>





</article>


        </div>

        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <p class="copyright">
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a>, <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>. Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.</span>
</p>
    </div>
  </div>
</div>

    </footer>

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    


<script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>






  </body>
</html>