<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.homeassistant</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin/:/usr/bin:/usr/sbin:/sbin:$PATH</string>
      <key>LC_CTYPE</key>
      <string>UTF-8</string>
    </dict>

    <key>Program</key>
    <string>$HASS_PATH$</string>

    <key>AbandonProcessGroup</key>
    <false/>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>

    <key>StandardErrorPath</key>
    <string>/Users/$USER$/Library/Logs/homeassistant.log</string>

    <key>StandardOutPath</key>
    <string>/Users/$USER$/Library/Logs/homeassistant.log</string>

  </dict>
</plist>
