add_doorbell_text:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: unifiprotect
    message:
      example: Come In
      required: true
      selector:
        text:
remove_doorbell_text:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: unifiprotect
    message:
      example: Go Away!
      required: true
      selector:
        text:
set_chime_paired_doorbells:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: unifiprotect
          entity:
            device_class: unifiprotect__chime_button
    doorbells:
      example: "binary_sensor.front_doorbell_doorbell"
      required: false
      selector:
        target:
          entity:
            integration: unifiprotect
            domain: binary_sensor
            device_class: occupancy
remove_privacy_zone:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: unifiprotect
          entity:
            domain: camera
    name:
      required: true
      selector:
        text:
get_user_keyring_info:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: unifiprotect
