generate_data:
  fields:
    task_name:
      example: "home summary"
      required: true
      selector:
        text:
    instructions:
      example: "Generate a funny notification that the garage door was left open"
      required: true
      selector:
        text:
          multiline: true
    entity_id:
      required: false
      selector:
        entity:
          filter:
            domain: ai_task
            supported_features:
              - ai_task.AITaskEntityFeature.GENERATE_DATA
    structure:
      advanced: true
      required: false
      example: '{ "name": { "selector": { "text": }, "description": "Name of the user", "required": "True" } } }, "age": { "selector": { "number": }, "description": "Age of the user" } }'
      selector:
        object:
    attachments:
      required: false
      selector:
        media:
          accept:
            - "*"
