# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

logger:
  default: info
  logs:
    homeassistant.components.cloud: debug
    homeassistant.components.bluetooth: debug

hello_state:

# Example configuration.yaml entry
sensor:
  - platform: example_sensor

kindhome_solarbeaker:

