[homeassistant]
# Location required to calculate the time the sun rises and sets
latitude=32.87336
longitude=-117.22743

[http]
api_password=mypass
# Set to 1 to load each Polymer component separately
# development=1

[light]
platform=hue

[device_tracker]
# The following types are available: netgear, tomato, luci
platform=netgear
host=192.168.1.1
username=admin
password=PASSWORD
# http_id is needed for Tomato routers only
# http_id=ABCDEFGHH

[chromecast]
# Optional: hard code the hosts (comma seperated) to find chromecasts
# instead of scanning the network
# hosts=192.168.1.9,192.168.1.12

[switch]
platform=wemo
# Optional: hard code the hosts (comma seperated) to avoid scanning the network
# hosts=192.168.1.9,192.168.1.12

[downloader]
download_dir=downloads

[device_sun_light_trigger]
# Optional: specify a specific light/group of lights that has to be turned on
light_group=group.living_room
# Optional: specify which light profile to use when turning lights on
light_profile=relax
# Optional: disable lights being turned off when everybody leaves the house
# disable_turn_off=1

# A comma seperated list of states that have to be tracked as a single group
# Grouped states should share the same type of states (ON/OFF or HOME/NOT_HOME)
[group]
living_room=light.Bowl,light.Ceiling,light.TV_back_light
children=device_tracker.child_1,device_tracker.child_2

[process]
# items are which processes to look for: <entity_id>=<search string within ps>
xbmc=XBMC.App

[example]

[simple_alarm]
# Which light/light group has to flash when a known device comes home
known_light=light.Bowl
# Which light/light group has to flash red when light turns on while no one home
unknown_light=group.living_room

[browser]

[keyboard]
