add_password:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: switchbot
    password:
      required: true
      example: "123456"
      selector:
        text:
          type: password
