<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LimitlessLED support - Home Assistant</title>
    <meta name="author" content="Paulus Schoutsen">
    <meta name="description" content="Instructions on how to setup LimitlessLED within Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/light.limitlessled/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="LimitlessLED support">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/light.limitlessled/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions on how to setup LimitlessLED within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="LimitlessLED support">
    <meta name="twitter:description" content="Instructions on how to setup LimitlessLED within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/images/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li>
    <a href="/getting-started/">Getting started</a>
    <ul>
      <li><a href='/getting-started/'>Installing Home Assistant</a></li>
      <li><a href='/getting-started/configuration/'>Configuration basics</a></li>
      <li><a href='/getting-started/devices/'>Adding devices</a></li>
      <li><a href='/getting-started/presence-detection/'>Presence detection</a></li>
      <li><a href='/getting-started/automation/'>Automation</a></li>
      <li><a href='/getting-started/templating/'>Templating</a></li>
      <li><a href='/cookbook'>Configuration cookbook</a></li>
    </ul>
  </li>
  <li><a href='/components/'>Components</a></li>
  <li>
    <a href="/developers/">Developers</a>
    <ul>
      <li><a href="/developers/architecture/">Architecture</a></li>
      <li><a href="/developers/frontend/">Frontend development</a></li>
      <li><a href="/developers/creating_components/">
        Creating components
      </a></li>
      <li><a href="/developers/add_new_platform/">
        Adding platform support
      </a></li>
      <li><a href="/developers/api/">API</a></li>
      <li><a href="/developers/credits/">Credits</a></li>
    </ul>
  </li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">

  <div class='edit-github'><a href='https://github.com/balloob/home-assistant.io/tree/master/source/_components/light.limitlessled.markdown'>Edit this page on GitHub</a></div>

  
  <header>
    <h1 class="title indent">
      LimitlessLED Support
    </h1>
  </header>
  <hr class="divider">
  

  <p><code>limitlessled</code> can control your <a href="http://www.limitlessled.com/">LimitlessLED</a> lights from within Home Assistant. The lights are also known as EasyBulb, AppLight, AppLamp, MiLight, LEDme, dekolight or iLight.</p>

<h3>Setup</h3>

<p>Before configuring Home Assistant, make sure you can control your bulbs with the Milight mobile application. Discover your bridge(s) IP. You can do this via your router, or a mobile application like Fing (<a href="https://play.google.com/store/apps/details?id=com.overlook.android.fing&amp;hl=en">android</a>, <a href="https://itunes.apple.com/us/app/fing-network-scanner/id430921107?mt=8">itunes</a>). Keep in mind that LimitlessLED bulbs are controlled via groups. You cannot control an individual bulb via the bridge, unless it is in a group by itself. Note that you can assign an <code>rgbw</code> and <code>white</code> group to the same group number, effectively allowing 8 groups (4 <code>rgbw</code> and 4 <code>white</code>) per bridge.</p>

<p>To add <code>limitlessled</code> to your installation, add the following to your <code>configuration.yaml</code> file:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="key">light</span>:
  <span class="key">platform</span>: <span class="string"><span class="content">limitlessled</span></span>
  <span class="key">bridges</span>:
</pre></div>
</div>
</div>

<p>Next, list your bridges and groups. Here’s an example. See the next section for a full explanaton of each configuration variable.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="key">light</span>:
  <span class="key">platform</span>: <span class="string"><span class="content">limitlessled</span></span>
  <span class="key">bridges</span>:
    - <span class="string"><span class="content">host: 192.168.1.10</span></span>
      <span class="key">version</span>: <span class="string"><span class="content">5</span></span>
      <span class="key">port</span>: <span class="string"><span class="content">8899</span></span>
      <span class="key">groups</span>:
      - <span class="string"><span class="content">number: 1</span></span>
        <span class="key">type</span>: <span class="string"><span class="content">rgbw</span></span>
        <span class="key">name</span>: <span class="string"><span class="content">Bedroom</span></span>
      - <span class="string"><span class="content">number: 2</span></span>
        <span class="key">type</span>: <span class="string"><span class="content">white</span></span>
        <span class="key">name</span>: <span class="string"><span class="content">Craft Room</span></span>
      - <span class="string"><span class="content">number: 2</span></span>
        <span class="key">type</span>: <span class="string"><span class="content">rgbw</span></span>
        <span class="key">name</span>: <span class="string"><span class="content">Bathroom</span></span>
    - <span class="string"><span class="content">host: 192.168.1.11</span></span>
      <span class="key">groups</span>:
      - <span class="string"><span class="content">number: 1</span></span>
        <span class="key">type</span>: <span class="string"><span class="content">rgbw</span></span>
        <span class="key">name</span>: <span class="string"><span class="content">Living Room &amp; Hall</span></span>
</pre></div>
</div>
</div>

<h3>Configuration variables</h3>

<ul>
  <li><strong>bridges</strong> (<em>Required</em>): (list)
    <ul>
      <li><strong>host</strong> (<em>Required</em>): IP address of the device, eg. <code>192.168.1.32</code></li>
      <li><strong>version</strong>: Bridge version (default is <code>5</code>). Don’t use if you aren’t sure.</li>
      <li><strong>port</strong>: Bridge port (default is <code>8899</code>). Normally not necessary to specify.</li>
      <li><strong>groups</strong> (<em>Required</em>): (list)
        <ul>
          <li><strong>number</strong> (<em>Required</em>): Group number (<code>1</code>-<code>4</code>). Corresponds to the group number on the remote.</li>
          <li><strong>name</strong> (<em>Required</em>): Any name you’d like. Must be unique among all configured groups.</li>
          <li><strong>type</strong>: Type of group. Choose either <code>rgbw</code> or <code>white</code>. <code>rgbw</code> is the default if you don’t specify.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h3>Properties</h3>
<p>Refer to the <a href="/components/light">light</a> documentation for general property usage, but keep in mind the following notes specific to LimitlessLED.</p>

<ul>
  <li><strong>RGBW</strong>
    <ul>
      <li><em>Color</em>: There are 256 color possibilities along the LimitlessLED color spectrum. Color properties like saturation and lightness can’t be used - only hue. The only exception is white (which may be warm or cold depending on the type of RGBW bulb). If you select a color with saturation or lightness, Home Assistant will calculate the nearest valid LimitlessLED color.</li>
      <li><em>Brightness</em>: There are 25 brightness steps.</li>
    </ul>
  </li>
  <li><strong>White</strong>
    <ul>
      <li>As you can observe on the Milight mobile application, you cannot select a specific brightness or temperature - you can only step each property up or down. There is no indication of which step you are on. This restriction, combined with the unreliable nature of LimitlessLED transmissions, means that setting white bulb properties is done on a best-effort basis. The only very reliable settings are the minimum and maximum of each property.</li>
      <li><em>Temperature</em>: There are 10 temperature steps.</li>
      <li><em>Brightness</em>: There are 10 brightness steps.</li>
    </ul>
  </li>
  <li><strong>Transitions</strong>
    <ul>
      <li>If a transition time is set, the group will transition between the current settings and the target settings for the duration specified. Transitions from or to white are not possible -  the color will change immediately.</li>
    </ul>
  </li>
</ul>

<h3>Initialization &amp; Synchronization</h3>

<p>When starting Home Assistant, your LimitlessLED bulbs will be set to known default values. This ensures a consistent user interface and uninterrupted turning on/off. If you control your LimitlessLED lights via the Milight mobile application or other means while Home Assistant is running, Home Assistant can not track those changes and you may observe unexpected behavior. This is due to a LimitlessLED limitation.</p>


</article>


        </div>

        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://github.com/balloob/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
</div>
    </div>
  </div>
</div>
    </footer>

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

  </body>
</html>