<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Intruder Alerts - Home Assistant</title>
    <meta name="author" content="Paulus Schoutsen">
    <meta name="description" content="Instructions how to receive intruder alerts from Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/simple_alarm/">

    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Intruder Alerts">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/simple_alarm/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to receive intruder alerts from Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@home_assistant">
    
    <meta name="twitter:title" content="Intruder Alerts">
    <meta name="twitter:description" content="Instructions how to receive intruder alerts from Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/home-assistant-logo-2164x2164.png">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header>
      <div class="grid-wrapper">
  <div class="grid">

    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/images/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>

<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li>
    <a href="/getting-started/">Getting started</a>
    <ul>
      <li><a href='/getting-started/'>Installing Home Assistant</a></li>
      <li><a href='/getting-started/configuration/'>Configuration basics</a></li>
      <li><a href='/getting-started/devices/'>Adding devices</a></li>
      <li><a href='/getting-started/presence-detection/'>Presence detection</a></li>
      <li><a href='/getting-started/automation/'>Automation</a></li>
      <li><a href='/getting-started/templating/'>Templating</a></li>
      <li><a href='/cookbook'>Configuration cookbook</a></li>
    </ul>
  </li>
  <li><a href='/components/'>Components</a></li>
  <li>
    <a href="/developers/">Developers</a>
    <ul>
      <li><a href="/developers/architecture/">Architecture</a></li>
      <li><a href="/developers/frontend/">Frontend development</a></li>
      <li><a href="/developers/creating_components/">
        Creating components
      </a></li>
      <li><a href="/developers/add_new_platform/">
        Adding platform support
      </a></li>
      <li><a href="/developers/api/">API</a></li>
      <li><a href="/developers/credits/">Credits</a></li>
    </ul>
  </li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
</ul>
  </nav>
</div>

  </div>
</div>
    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          <article class="page">
  <header>
    <h1 class="title indent">
      Intruder Alerts
    </h1>
  </header>
  <hr class="divider">

  <p>The component <code>simple_alarm</code> is capable of detecting intruders. It does so by checking if lights are being turned on while there is no one at home. When this happens it will turn the lights red, flash them for 30 seconds and send a message via <a href="/components/notify/">the notifiy component</a>. It will also flash a specific light when a known person comes home.</p>

<p>This component depends on the components <a href="/components/device_tracker/">device_tracker</a> and <a href="/components/light/">light</a> being setup.</p>

<p>To set it up, add the following lines to your <code>configuration.yaml</code> file:</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="key">simple_alarm</span>:
<span class="comment"># Example configuration.yaml entry</span>
  <span class="key">known_light</span>: <span class="string"><span class="content">light.Bowl</span></span>
  <span class="key">unknown_light</span>: <span class="string"><span class="content">group.living_room</span></span>
</pre></div>
</div>
</div>

<p>Configuration variables:</p>

<ul>
  <li><strong>known_light</strong> (<em>Required</em>): Which light/light group has to flash when a known device comes home.</li>
  <li><strong>unknown_light</strong> (<em>Required</em>): Which light/light group has to flash red when light turns on while no one home.</li>
</ul>


</article>


        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/home-assistant.png' />
  </div>
    <div class='section'>
    <h1 class="title delta">Category Alarm</h1>
    <ul class='divided'>
        <li>
            <a href='/components/alarm_control_panel.alarmdotcom/'>Alarm.com Alarm Control Panel</a>
        </li>
        <li>
            Intruder Alerts
        </li>
        <li>
            <a href='/components/alarm_control_panel.mqtt/'>MQTT Alarm Control Panel</a>
        </li>
        <li>
            <a href='/components/alarm_control_panel.manual/'>Manual Alarm Control Panel</a>
        </li>
    </ul>
    </div>
</section>
  
</div>
        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://github.com/balloob/home-assistant'><i class="icon-github"></i></a>

  <div class="credit">
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
</div>
    </div>
  </div>
</div>
    </footer>

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

  </body>
</html>